openapi: 3.2.0
info:
  version: v1
  title: Spotio 2.0 Data Objects API
  description: The controller is responsible for manages the data objects and their related operations like creating, retrieving, updating, and deleting data objects, as well as some bulk actions.
  contact:
    name: Contact us
    url: https://spotio.com/contact/
    email: support@spotio.com
servers:
- url: https://api.spotio2.com
  description: Production
- url: https://app-test.spotio2.com
  description: Test
security:
- Bearer: []
tags:
- name: DataObjects
  description: The controller is responsible for manages the data objects and their related operations like creating, retrieving, updating, and deleting data objects, as well as some bulk actions.
paths:
  /api/DataObjects:
    post:
      tags:
      - DataObjects
      summary: Create a new data object.
      description: Create a new dataObject with an associated activity (activity is optional).
      requestBody:
        content:
          application/merge-patch+json:
            schema:
              $ref: '#/components/schemas/Spotio.Frontend.ViewModel.DataObjects.DataObjectWithActivityRequest'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Spotio.Frontend.ViewModel.DataObjects.DataObjectWithActivityRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/Spotio.Frontend.ViewModel.DataObjects.DataObjectWithActivityRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/Spotio.Frontend.ViewModel.DataObjects.DataObjectWithActivityRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Spotio.Frontend.ViewModel.DataObjects.DataObjectWithActivityRequest'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Spotio.Frontend.ViewModel.DataObjects.DataObjectWithParent'
            application/json:
              schema:
                $ref: '#/components/schemas/Spotio.Frontend.ViewModel.DataObjects.DataObjectWithParent'
            text/json:
              schema:
                $ref: '#/components/schemas/Spotio.Frontend.ViewModel.DataObjects.DataObjectWithParent'
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            text/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            text/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
      security:
      - Bearer: []
      servers:
      - url: https://api.spotio2.com
        description: Production
      - url: https://app-test.spotio2.com
        description: Test
  /api/DataObjects/{dataObjectId}:
    get:
      tags:
      - DataObjects
      summary: Get existing data object.
      description: Get information about the dataObject and related objects
      parameters:
      - name: dataObjectId
        in: path
        description: The ID of the data object.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Spotio.Frontend.ViewModel.DataObjects.DataObjectWithParent'
            application/json:
              schema:
                $ref: '#/components/schemas/Spotio.Frontend.ViewModel.DataObjects.DataObjectWithParent'
            text/json:
              schema:
                $ref: '#/components/schemas/Spotio.Frontend.ViewModel.DataObjects.DataObjectWithParent'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            text/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            text/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
      security:
      - Bearer: []
      servers:
      - url: https://api.spotio2.com
        description: Production
      - url: https://app-test.spotio2.com
        description: Test
    delete:
      tags:
      - DataObjects
      summary: Delete existing dataObject
      parameters:
      - name: dataObjectId
        in: path
        description: The ID of the data object.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/merge-patch+json:
            schema:
              $ref: '#/components/schemas/Spotio.Frontend.ViewModel.DataObjects.DeleteDataObjectRequest'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Spotio.Frontend.ViewModel.DataObjects.DeleteDataObjectRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/Spotio.Frontend.ViewModel.DataObjects.DeleteDataObjectRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/Spotio.Frontend.ViewModel.DataObjects.DeleteDataObjectRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Spotio.Frontend.ViewModel.DataObjects.DeleteDataObjectRequest'
      responses:
        '200':
          description: Success
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            text/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            text/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
      security:
      - Bearer: []
      servers:
      - url: https://api.spotio2.com
        description: Production
      - url: https://app-test.spotio2.com
        description: Test
  /api/DataObjects/{dataObjectId}/jsonp:
    patch:
      tags:
      - DataObjects
      summary: JSON Patch for data object
      description: Update the dataObject. Information about JSON patch can be found on the website https://jsonpatch.com .
      parameters:
      - name: validateRequiredFields
        in: query
        description: 'If true, validates all required fields. Default: true.'
        schema:
          type: boolean
          default: true
      - name: dataObjectId
        in: path
        description: The ID of the data object.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json-patch+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Microsoft.AspNetCore.JsonPatch.Operations.Operation'
          application/merge-patch+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Microsoft.AspNetCore.JsonPatch.Operations.Operation'
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Microsoft.AspNetCore.JsonPatch.Operations.Operation'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Spotio.Frontend.ViewModel.DataObjects.DataObject'
            application/json:
              schema:
                $ref: '#/components/schemas/Spotio.Frontend.ViewModel.DataObjects.DataObject'
            text/json:
              schema:
                $ref: '#/components/schemas/Spotio.Frontend.ViewModel.DataObjects.DataObject'
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            text/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            text/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            text/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
      security:
      - Bearer: []
      servers:
      - url: https://api.spotio2.com
        description: Production
      - url: https://app-test.spotio2.com
        description: Test
  /api/DataObjects/{dataObjectId}/jsonp/withActivity:
    patch:
      tags:
      - DataObjects
      summary: JSON Patch for data object with activity
      description: Update the dataObject and create activity. Information about JSON patch can be found on the website https://jsonpatch.com .
      parameters:
      - name: validateRequiredFields
        in: query
        description: 'If true, validates all required fields. Default: true.'
        schema:
          type: boolean
          default: true
      - name: dataObjectId
        in: path
        description: The ID of the data object.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/merge-patch+json:
            schema:
              $ref: '#/components/schemas/Spotio.Frontend.ViewModel.DataObjects.DataObjectPatchWithActivityRequest'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Spotio.Frontend.ViewModel.DataObjects.DataObjectPatchWithActivityRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/Spotio.Frontend.ViewModel.DataObjects.DataObjectPatchWithActivityRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/Spotio.Frontend.ViewModel.DataObjects.DataObjectPatchWithActivityRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Spotio.Frontend.ViewModel.DataObjects.DataObjectPatchWithActivityRequest'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Spotio.Frontend.ViewModel.DataObjects.DataObject'
            application/json:
              schema:
                $ref: '#/components/schemas/Spotio.Frontend.ViewModel.DataObjects.DataObject'
            text/json:
              schema:
                $ref: '#/components/schemas/Spotio.Frontend.ViewModel.DataObjects.DataObject'
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            text/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            text/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            text/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
      security:
      - Bearer: []
      servers:
      - url: https://api.spotio2.com
        description: Production
      - url: https://app-test.spotio2.com
        description: Test
  /api/DataObjects/bulk:
    post:
      tags:
      - DataObjects
      summary: Bulk actions for deleting dataObjects
      requestBody:
        content:
          application/merge-patch+json:
            schema:
              $ref: '#/components/schemas/Spotio.Frontend.ViewModel.DataObjects.DataObjectBulkActionRequest'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Spotio.Frontend.ViewModel.DataObjects.DataObjectBulkActionRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/Spotio.Frontend.ViewModel.DataObjects.DataObjectBulkActionRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/Spotio.Frontend.ViewModel.DataObjects.DataObjectBulkActionRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Spotio.Frontend.ViewModel.DataObjects.DataObjectBulkActionRequest'
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      security:
      - Bearer: []
      servers:
      - url: https://api.spotio2.com
        description: Production
      - url: https://app-test.spotio2.com
        description: Test
  /api/DataObjects/bulk/validate:
    post:
      tags:
      - DataObjects
      summary: Validate communication bulk action
      requestBody:
        content:
          application/merge-patch+json:
            schema:
              $ref: '#/components/schemas/Spotio.Frontend.ViewModel.DataObjects.ValidateBulkAction'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Spotio.Frontend.ViewModel.DataObjects.ValidateBulkAction'
          application/json:
            schema:
              $ref: '#/components/schemas/Spotio.Frontend.ViewModel.DataObjects.ValidateBulkAction'
          text/json:
            schema:
              $ref: '#/components/schemas/Spotio.Frontend.ViewModel.DataObjects.ValidateBulkAction'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Spotio.Frontend.ViewModel.DataObjects.ValidateBulkAction'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Spotio.Frontend.ViewModel.DataObjects.ValidateBulkActionResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/Spotio.Frontend.ViewModel.DataObjects.ValidateBulkActionResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/Spotio.Frontend.ViewModel.DataObjects.ValidateBulkActionResponse'
        '401':
          description: Unauthorized
      security:
      - Bearer: []
      servers:
      - url: https://api.spotio2.com
        description: Production
      - url: https://app-test.spotio2.com
        description: Test
  /api/DataObjects/bulk/import/{importId}:
    delete:
      tags:
      - DataObjects
      summary: Delete import import by id
      parameters:
      - name: importId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Success
        '401':
          description: Unauthorized
      security:
      - Bearer: []
      servers:
      - url: https://api.spotio2.com
        description: Production
      - url: https://app-test.spotio2.com
        description: Test
  /api/DataObjects/deleted:
    get:
      tags:
      - DataObjects
      summary: Get deleted data objects
      description: A list of deleted data objects.
      parameters:
      - name: scrollId
        in: query
        description: Cursor for pagination
        schema:
          type: string
      - name: startDate
        in: query
        description: Start date filter
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        description: End date filter
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Spotio.Frontend.ViewModel.DataObjects.DeletedDataObjectsResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/Spotio.Frontend.ViewModel.DataObjects.DeletedDataObjectsResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/Spotio.Frontend.ViewModel.DataObjects.DeletedDataObjectsResponse'
        '401':
          description: Unauthorized
      security:
      - Bearer: []
      servers:
      - url: https://api.spotio2.com
        description: Production
      - url: https://app-test.spotio2.com
        description: Test
  /api/DataObjects/withChildren:
    post:
      tags:
      - DataObjects
      summary: Create new data object with children
      description: Create a new dataObject with related objectDataObject (children, parent) and an associated activity (activity is optional).
      requestBody:
        content:
          application/merge-patch+json:
            schema:
              $ref: '#/components/schemas/Spotio.Frontend.ViewModel.DataObjects.DataObjectWithChildrenAndActivityRequest'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Spotio.Frontend.ViewModel.DataObjects.DataObjectWithChildrenAndActivityRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/Spotio.Frontend.ViewModel.DataObjects.DataObjectWithChildrenAndActivityRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/Spotio.Frontend.ViewModel.DataObjects.DataObjectWithChildrenAndActivityRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Spotio.Frontend.ViewModel.DataObjects.DataObjectWithChildrenAndActivityRequest'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Spotio.Frontend.ViewModel.DataObjects.DataObjectWithChildren'
            application/json:
              schema:
                $ref: '#/components/schemas/Spotio.Frontend.ViewModel.DataObjects.DataObjectWithChildren'
            text/json:
              schema:
                $ref: '#/components/schemas/Spotio.Frontend.ViewModel.DataObjects.DataObjectWithChildren'
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            text/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            text/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
      security:
      - Bearer: []
      servers:
      - url: https://api.spotio2.com
        description: Production
      - url: https://app-test.spotio2.com
        description: Test
  /api/DataObjects/move:
    post:
      tags:
      - DataObjects
      summary: Move data objects
      description: Move data objects to a different pin
      requestBody:
        content:
          application/merge-patch+json:
            schema:
              $ref: '#/components/schemas/Spotio.Frontend.ViewModel.DataObjects.MoveDataObjectsRequest'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Spotio.Frontend.ViewModel.DataObjects.MoveDataObjectsRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/Spotio.Frontend.ViewModel.DataObjects.MoveDataObjectsRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/Spotio.Frontend.ViewModel.DataObjects.MoveDataObjectsRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Spotio.Frontend.ViewModel.DataObjects.MoveDataObjectsRequest'
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            text/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            text/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
      security:
      - Bearer: []
      servers:
      - url: https://api.spotio2.com
        description: Production
      - url: https://app-test.spotio2.com
        description: Test
  /api/DataObjects/withChildren/{dataObjectId}:
    get:
      tags:
      - DataObjects
      summary: Get data object with children
      parameters:
      - name: dataObjectId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Spotio.Frontend.ViewModel.DataObjects.DataObjectWithChildren'
            application/json:
              schema:
                $ref: '#/components/schemas/Spotio.Frontend.ViewModel.DataObjects.DataObjectWithChildren'
            text/json:
              schema:
                $ref: '#/components/schemas/Spotio.Frontend.ViewModel.DataObjects.DataObjectWithChildren'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            text/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            text/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
      security:
      - Bearer: []
      servers:
      - url: https://api.spotio2.com
        description: Production
      - url: https://app-test.spotio2.com
        description: Test
  /api/DataObjects/withChildren/many:
    get:
      tags:
      - DataObjects
      summary: Get many data objects by ids
      parameters:
      - name: dataObjectsIds
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Spotio.Frontend.ViewModel.DataObjects.DataObjectWithChildren'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Spotio.Frontend.ViewModel.DataObjects.DataObjectWithChildren'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Spotio.Frontend.ViewModel.DataObjects.DataObjectWithChildren'
        '401':
          description: Unauthorized
      security:
      - Bearer: []
      servers:
      - url: https://api.spotio2.com
        description: Production
      - url: https://app-test.spotio2.com
        description: Test
  /api/DataObjects/many:
    get:
      tags:
      - DataObjects
      summary: Get many data objects by ids
      parameters:
      - name: dataObjectsIds
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Spotio.Frontend.ViewModel.DataObjects.DataObject'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Spotio.Frontend.ViewModel.DataObjects.DataObject'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Spotio.Frontend.ViewModel.DataObjects.DataObject'
        '401':
          description: Unauthorized
      security:
      - Bearer: []
      servers:
      - url: https://api.spotio2.com
        description: Production
      - url: https://app-test.spotio2.com
        description: Test
  /api/DataObjects/withChildren/{dataObjectId}/jsonp:
    patch:
      tags:
      - DataObjects
      summary: JSON Patch for data object in classic mode.
      parameters:
      - name: validateRequiredFields
        in: query
        schema:
          type: boolean
          default: true
      - name: dataObjectId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json-patch+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Microsoft.AspNetCore.JsonPatch.Operations.Operation'
          application/merge-patch+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Microsoft.AspNetCore.JsonPatch.Operations.Operation'
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Microsoft.AspNetCore.JsonPatch.Operations.Operation'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Spotio.Frontend.ViewModel.DataObjects.DataObjectWithChildren'
            application/json:
              schema:
                $ref: '#/components/schemas/Spotio.Frontend.ViewModel.DataObjects.DataObjectWithChildren'
            text/json:
              schema:
                $ref: '#/components/schemas/Spotio.Frontend.ViewModel.DataObjects.DataObjectWithChildren'
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            text/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            text/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            text/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
      security:
      - Bearer: []
      servers:
      - url: https://api.spotio2.com
        description: Production
      - url: https://app-test.spotio2.com
        description: Test
  /api/DataObjects/withChildren/{dataObjectId}/jsonp/withActivity:
    patch:
      tags:
      - DataObjects
      summary: JSON Patch for data object in classic mode with activity.
      parameters:
      - name: validateRequiredFields
        in: query
        schema:
          type: boolean
          default: true
      - name: dataObjectId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/merge-patch+json:
            schema:
              $ref: '#/components/schemas/Spotio.Frontend.ViewModel.DataObjects.DataObjectWithChildrenPatchAndActivityRequest'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Spotio.Frontend.ViewModel.DataObjects.DataObjectWithChildrenPatchAndActivityRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/Spotio.Frontend.ViewModel.DataObjects.DataObjectWithChildrenPatchAndActivityRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/Spotio.Frontend.ViewModel.DataObjects.DataObjectWithChildrenPatchAndActivityRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Spotio.Frontend.ViewModel.DataObjects.DataObjectWithChildrenPatchAndActivityRequest'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Spotio.Frontend.ViewModel.DataObjects.DataObjectWithChildren'
            application/json:
              schema:
                $ref: '#/components/schemas/Spotio.Frontend.ViewModel.DataObjects.DataObjectWithChildren'
            text/json:
              schema:
                $ref: '#/components/schemas/Spotio.Frontend.ViewModel.DataObjects.DataObjectWithChildren'
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            text/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            text/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            text/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
      security:
      - Bearer: []
      servers:
      - url: https://api.spotio2.com
        description: Production
      - url: https://app-test.spotio2.com
        description: Test
  /api/DataObjects/{dataObjectId}/activities/historical:
    post:
      tags:
      - DataObjects
      summary: 'Historical activities '
      description: Array of historical (already set as Done) activities for the object
      parameters:
      - name: x-app-version
        in: header
        schema:
          type: string
      - name: dataObjectId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/merge-patch+json:
            schema:
              $ref: '#/components/schemas/Spotio.Frontend.ViewModel.DataObjects.Activities.GetHistoricalActivitiesRequestDto'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Spotio.Frontend.ViewModel.DataObjects.Activities.GetHistoricalActivitiesRequestDto'
          application/json:
            schema:
              $ref: '#/components/schemas/Spotio.Frontend.ViewModel.DataObjects.Activities.GetHistoricalActivitiesRequestDto'
          text/json:
            schema:
              $ref: '#/components/schemas/Spotio.Frontend.ViewModel.DataObjects.Activities.GetHistoricalActivitiesRequestDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Spotio.Frontend.ViewModel.DataObjects.Activities.GetHistoricalActivitiesRequestDto'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Spotio.Frontend.Web.Helpers.ScrollResult%601%5B%5BSpotio.Frontend.ViewModel.DataObjects.Activities.HistoricalDataObjectActivityDto%2C%20Spotio.Frontend.ViewModel%2C%20Version%3D1.0.0.0%2C%20Culture%3Dneutral%2C%20PublicKeyToken%3Dnull%5D%5D'
              examples:
                default:
                  value:
                  - id: '2163003'
                    activityTemplateId: '4'
                    type: event
                    ownerId: '2'
                    title: Talk about insurance
                    notes: They want to buy
                    text: Insurance meeting
                    date: '2026-08-03T07:14:40.1579145+00:00'
                    durationSeconds: 3600
                    allDay: false
                    verified: true
                    distance: 0.03
                    transition:
                      fromStageId: '1'
                      toStageId: '3'
                    ownerChanged:
                      previousLeadOwnerId: '1'
                      newLeadOwnerId: '2'
                      previousDataObjectOwnerId: '1'
                      newDataObjectOwnerId: '2'
                    resultId: '0'
                    direction: in
                    email: mail@mail.com
                    phoneNumber: 202-555-0157
                    reference: dsfoso123sadp
                    autoExecution: false
                    appointmentId: '25'
                    dataObjectId: dataObjectId1
                    documents:
                    - id: '123'
                      name: name
                      url: example.com
                      isImage: false
                      mimeType: application/json
                    plannedDate: '2026-08-03T07:14:40.1580433+00:00'
                    access: full
                  - id: '2163763'
                    activityTemplateId: '5'
                    type: event
                    ownerId: '2'
                    title: Follow Up
                    notes: They want to buy
                    text: Insurance meeting
                    date: '2026-08-03T07:14:40.1582139+00:00'
                    durationSeconds: 3600
                    allDay: false
                    verified: true
                    distance: 0.03
                    transition:
                      fromStageId: '1'
                      toStageId: '2'
                    ownerChanged:
                      previousLeadOwnerId: '3'
                      newLeadOwnerId: '2'
                      previousDataObjectOwnerId: '3'
                      newDataObjectOwnerId: '2'
                    resultId: '1'
                    direction: in
                    email: testMail@mail.com
                    phoneNumber: 202-333-0157
                    reference: 2j32123k31
                    autoExecution: false
                    appointmentId: '26'
                    dataObjectId: dataObjectId2
                    documents: []
                    plannedDate: '2026-08-03T07:14:40.1582294+00:00'
                    access: visible
            application/json:
              schema:
                $ref: '#/components/schemas/Spotio.Frontend.Web.Helpers.ScrollResult%601%5B%5BSpotio.Frontend.ViewModel.DataObjects.Activities.HistoricalDataObjectActivityDto%2C%20Spotio.Frontend.ViewModel%2C%20Version%3D1.0.0.0%2C%20Culture%3Dneutral%2C%20PublicKeyToken%3Dnull%5D%5D'
              examples:
                default:
                  value:
                  - id: '2163003'
                    activityTemplateId: '4'
                    type: event
                    ownerId: '2'
                    title: Talk about insurance
                    notes: They want to buy
                    text: Insurance meeting
                    date: '2026-08-03T07:14:40.1579145+00:00'
                    durationSeconds: 3600
                    allDay: false
                    verified: true
                    distance: 0.03
                    transition:
                      fromStageId: '1'
                      toStageId: '3'
                    ownerChanged:
                      previousLeadOwnerId: '1'
                      newLeadOwnerId: '2'
                      previousDataObjectOwnerId: '1'
                      newDataObjectOwnerId: '2'
                    resultId: '0'
                    direction: in
                    email: mail@mail.com
                    phoneNumber: 202-555-0157
                    reference: dsfoso123sadp
                    autoExecution: false
                    appointmentId: '25'
                    dataObjectId: dataObjectId1
                    documents:
                    - id: '123'
                      name: name
                      url: example.com
                      isImage: false
                      mimeType: application/json
                    plannedDate: '2026-08-03T07:14:40.1580433+00:00'
                    access: full
                  - id: '2163763'
                    activityTemplateId: '5'
                    type: event
                    ownerId: '2'
                    title: Follow Up
                    notes: They want to buy
                    text: Insurance meeting
                    date: '2026-08-03T07:14:40.1582139+00:00'
                    durationSeconds: 3600
                    allDay: false
                    verified: true
                    distance: 0.03
                    transition:
                      fromStageId: '1'
                      toStageId: '2'
                    ownerChanged:
                      previousLeadOwnerId: '3'
                      newLeadOwnerId: '2'
                      previousDataObjectOwnerId: '3'
                      newDataObjectOwnerId: '2'
                    resultId: '1'
                    direction: in
                    email: testMail@mail.com
                    phoneNumber: 202-333-0157
                    reference: 2j32123k31
                    autoExecution: false
                    appointmentId: '26'
                    dataObjectId: dataObjectId2
                    documents: []
                    plannedDate: '2026-08-03T07:14:40.1582294+00:00'
                    access: visible
            text/json:
              schema:
                $ref: '#/components/schemas/Spotio.Frontend.Web.Helpers.ScrollResult%601%5B%5BSpotio.Frontend.ViewModel.DataObjects.Activities.HistoricalDataObjectActivityDto%2C%20Spotio.Frontend.ViewModel%2C%20Version%3D1.0.0.0%2C%20Culture%3Dneutral%2C%20PublicKeyToken%3Dnull%5D%5D'
              examples:
                default:
                  value:
                  - id: '2163003'
                    activityTemplateId: '4'
                    type: event
                    ownerId: '2'
                    title: Talk about insurance
                    notes: They want to buy
                    text: Insurance meeting
                    date: '2026-08-03T07:14:40.1579145+00:00'
                    durationSeconds: 3600
                    allDay: false
                    verified: true
                    distance: 0.03
                    transition:
                      fromStageId: '1'
                      toStageId: '3'
                    ownerChanged:
                      previousLeadOwnerId: '1'
                      newLeadOwnerId: '2'
                      previousDataObjectOwnerId: '1'
                      newDataObjectOwnerId: '2'
                    resultId: '0'
                    direction: in
                    email: mail@mail.com
                    phoneNumber: 202-555-0157
                    reference: dsfoso123sadp
                    autoExecution: false
                    appointmentId: '25'
                    dataObjectId: dataObjectId1
                    documents:
                    - id: '123'
                      name: name
                      url: example.com
                      isImage: false
                      mimeType: application/json
                    plannedDate: '2026-08-03T07:14:40.1580433+00:00'
                    access: full
                  - id: '2163763'
                    activityTemplateId: '5'
                    type: event
                    ownerId: '2'
                    title: Follow Up
                    notes: They want to buy
                    text: Insurance meeting
                    date: '2026-08-03T07:14:40.1582139+00:00'
                    durationSeconds: 3600
                    allDay: false
                    verified: true
                    distance: 0.03
                    transition:
                      fromStageId: '1'
                      toStageId: '2'
                    ownerChanged:
                      previousLeadOwnerId: '3'
                      newLeadOwnerId: '2'
                      previousDataObjectOwnerId: '3'
                      newDataObjectOwnerId: '2'
                    resultId: '1'
                    direction: in
                    email: testMail@mail.com
                    phoneNumber: 202-333-0157
                    reference: 2j32123k31
                    autoExecution: false
                    appointmentId: '26'
                    dataObjectId: dataObjectId2
                    documents: []
                    plannedDate: '2026-08-03T07:14:40.1582294+00:00'
                    access: visible
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            text/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
        '415':
          description: Client Error
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            text/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
        '422':
          description: Client Error
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            text/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
        '500':
          description: Server Error
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            text/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
      security:
      - Bearer: []
      servers:
      - url: https://api.spotio2.com
        description: Production
      - url: https://app-test.spotio2.com
        description: Test
    get:
      tags:
      - DataObjects
      summary: 'Historical activities '
      description: Array of historical (already set as Done) activities for the object
      parameters:
      - name: x-app-version
        in: header
        schema:
          type: string
      - name: activityTemplateIds
        in: query
        description: Activity template ids separated by comma
        schema:
          type: string
      - name: scrollId
        in: query
        schema:
          type: string
      - name: includeGhosts
        in: query
        schema:
          type: boolean
      - name: includeCallRecordings
        in: query
        schema:
          type: boolean
      - name: dataObjectId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Spotio.Frontend.Web.Helpers.ScrollResult%601%5B%5BSpotio.Frontend.ViewModel.DataObjects.Activities.HistoricalDataObjectActivityDto%2C%20Spotio.Frontend.ViewModel%2C%20Version%3D1.0.0.0%2C%20Culture%3Dneutral%2C%20PublicKeyToken%3Dnull%5D%5D'
              examples:
                default:
                  value:
                  - id: '2163003'
                    activityTemplateId: '4'
                    type: event
                    ownerId: '2'
                    title: Talk about insurance
                    notes: They want to buy
                    text: Insurance meeting
                    date: '2026-08-03T07:14:40.1705655+00:00'
                    durationSeconds: 3600
                    allDay: false
                    verified: true
                    distance: 0.03
                    transition:
                      fromStageId: '1'
                      toStageId: '3'
                    ownerChanged:
                      previousLeadOwnerId: '1'
                      newLeadOwnerId: '2'
                      previousDataObjectOwnerId: '1'
                      newDataObjectOwnerId: '2'
                    resultId: '0'
                    direction: in
                    email: mail@mail.com
                    phoneNumber: 202-555-0157
                    reference: dsfoso123sadp
                    autoExecution: false
                    appointmentId: '25'
                    dataObjectId: dataObjectId1
                    documents:
                    - id: '123'
                      name: name
                      url: example.com
                      isImage: false
                      mimeType: application/json
                    plannedDate: '2026-08-03T07:14:40.1705691+00:00'
                    access: full
                  - id: '2163763'
                    activityTemplateId: '5'
                    type: event
                    ownerId: '2'
                    title: Follow Up
                    notes: They want to buy
                    text: Insurance meeting
                    date: '2026-08-03T07:14:40.1705706+00:00'
                    durationSeconds: 3600
                    allDay: false
                    verified: true
                    distance: 0.03
                    transition:
                      fromStageId: '1'
                      toStageId: '2'
                    ownerChanged:
                      previousLeadOwnerId: '3'
                      newLeadOwnerId: '2'
                      previousDataObjectOwnerId: '3'
                      newDataObjectOwnerId: '2'
                    resultId: '1'
                    direction: in
                    email: testMail@mail.com
                    phoneNumber: 202-333-0157
                    reference: 2j32123k31
                    autoExecution: false
                    appointmentId: '26'
                    dataObjectId: dataObjectId2
                    documents: []
                    plannedDate: '2026-08-03T07:14:40.1705711+00:00'
                    access: visible
            application/json:
              schema:
                $ref: '#/components/schemas/Spotio.Frontend.Web.Helpers.ScrollResult%601%5B%5BSpotio.Frontend.ViewModel.DataObjects.Activities.HistoricalDataObjectActivityDto%2C%20Spotio.Frontend.ViewModel%2C%20Version%3D1.0.0.0%2C%20Culture%3Dneutral%2C%20PublicKeyToken%3Dnull%5D%5D'
              examples:
                default:
                  value:
                  - id: '2163003'
                    activityTemplateId: '4'
                    type: event
                    ownerId: '2'
                    title: Talk about insurance
                    notes: They want to buy
                    text: Insurance meeting
                    date: '2026-08-03T07:14:40.1705655+00:00'
                    durationSeconds: 3600
                    allDay: false
                    verified: true
                    distance: 0.03
                    transition:
                      fromStageId: '1'
                      toStageId: '3'
                    ownerChanged:
                      previousLeadOwnerId: '1'
                      newLeadOwnerId: '2'
                      previousDataObjectOwnerId: '1'
                      newDataObjectOwnerId: '2'
                    resultId: '0'
                    direction: in
                    email: mail@mail.com
                    phoneNumber: 202-555-0157
                    reference: dsfoso123sadp
                    autoExecution: false
                    appointmentId: '25'
                    dataObjectId: dataObjectId1
                    documents:
                    - id: '123'
                      name: name
                      url: example.com
                      isImage: false
                      mimeType: application/json
                    plannedDate: '2026-08-03T07:14:40.1705691+00:00'
                    access: full
                  - id: '2163763'
                    activityTemplateId: '5'
                    type: event
                    ownerId: '2'
                    title: Follow Up
                    notes: They want to buy
                    text: Insurance meeting
                    date: '2026-08-03T07:14:40.1705706+00:00'
                    durationSeconds: 3600
                    allDay: false
                    verified: true
                    distance: 0.03
                    transition:
                      fromStageId: '1'
                      toStageId: '2'
                    ownerChanged:
                      previousLeadOwnerId: '3'
                      newLeadOwnerId: '2'
                      previousDataObjectOwnerId: '3'
                      newDataObjectOwnerId: '2'
                    resultId: '1'
                    direction: in
                    email: testMail@mail.com
                    phoneNumber: 202-333-0157
                    reference: 2j32123k31
                    autoExecution: false
                    appointmentId: '26'
                    dataObjectId: dataObjectId2
                    documents: []
                    plannedDate: '2026-08-03T07:14:40.1705711+00:00'
                    access: visible
            text/json:
              schema:
                $ref: '#/components/schemas/Spotio.Frontend.Web.Helpers.ScrollResult%601%5B%5BSpotio.Frontend.ViewModel.DataObjects.Activities.HistoricalDataObjectActivityDto%2C%20Spotio.Frontend.ViewModel%2C%20Version%3D1.0.0.0%2C%20Culture%3Dneutral%2C%20PublicKeyToken%3Dnull%5D%5D'
              examples:
                default:
                  value:
                  - id: '2163003'
                    activityTemplateId: '4'
                    type: event
                    ownerId: '2'
                    title: Talk about insurance
                    notes: They want to buy
                    text: Insurance meeting
                    date: '2026-08-03T07:14:40.1705655+00:00'
                    durationSeconds: 3600
                    allDay: false
                    verified: true
                    distance: 0.03
                    transition:
                      fromStageId: '1'
                      toStageId: '3'
                    ownerChanged:
                      previousLeadOwnerId: '1'
                      newLeadOwnerId: '2'
                      previousDataObjectOwnerId: '1'
                      newDataObjectOwnerId: '2'
                    resultId: '0'
                    direction: in
                    email: mail@mail.com
                    phoneNumber: 202-555-0157
                    reference: dsfoso123sadp
                    autoExecution: false
                    appointmentId: '25'
                    dataObjectId: dataObjectId1
                    documents:
                    - id: '123'
                      name: name
                      url: example.com
                      isImage: false
                      mimeType: application/json
                    plannedDate: '2026-08-03T07:14:40.1705691+00:00'
                    access: full
                  - id: '2163763'
                    activityTemplateId: '5'
                    type: event
                    ownerId: '2'
                    title: Follow Up
                    notes: They want to buy
                    text: Insurance meeting
                    date: '2026-08-03T07:14:40.1705706+00:00'
                    durationSeconds: 3600
                    allDay: false
                    verified: true
                    distance: 0.03
                    transition:
                      fromStageId: '1'
                      toStageId: '2'
                    ownerChanged:
                      previousLeadOwnerId: '3'
                      newLeadOwnerId: '2'
                      previousDataObjectOwnerId: '3'
                      newDataObjectOwnerId: '2'
                    resultId: '1'
                    direction: in
                    email: testMail@mail.com
                    phoneNumber: 202-333-0157
                    reference: 2j32123k31
                    autoExecution: false
                    appointmentId: '26'
                    dataObjectId: dataObjectId2
                    documents: []
                    plannedDate: '2026-08-03T07:14:40.1705711+00:00'
                    access: visible
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            text/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
        '415':
          description: Client Error
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            text/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
        '422':
          description: Client Error
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            text/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
        '500':
          description: Server Error
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            text/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
      security:
      - Bearer: []
      servers:
      - url: https://api.spotio2.com
        description: Production
      - url: https://app-test.spotio2.com
        description: Test
  /api/DataObjects/{dataObjectId}/activities/{activityId}:
    get:
      tags:
      - DataObjects
      summary: Get historical activity by id
      description: Fetch a single historical activity by its unique identifier for a given data object.
      parameters:
      - name: dataObjectId
        in: path
        required: true
        schema:
          type: string
      - name: activityId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Spotio.Frontend.ViewModel.DataObjects.Activities.HistoricalDataObjectActivityDto'
            application/json:
              schema:
                $ref: '#/components/schemas/Spotio.Frontend.ViewModel.DataObjects.Activities.HistoricalDataObjectActivityDto'
            text/json:
              schema:
                $ref: '#/components/schemas/Spotio.Frontend.ViewModel.DataObjects.Activities.HistoricalDataObjectActivityDto'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            text/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
      security:
      - Bearer: []
      servers:
      - url: https://api.spotio2.com
        description: Production
      - url: https://app-test.spotio2.com
        description: Test
  /api/DataObjects/{dataObjectId}/appointments/upcoming:
    get:
      tags:
      - DataObjects
      summary: 'Upcoming Appointments '
      description: Array with upcoming appointments for the data object
      parameters:
      - name: scrollId
        in: query
        schema:
          type: string
      - name: dataObjectId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Spotio.Frontend.Web.Helpers.ScrollResult%601%5B%5BSpotio.Frontend.ViewModel.DataObjects.Activities.UpcomingDataObjectAppointmentDto%2C%20Spotio.Frontend.ViewModel%2C%20Version%3D1.0.0.0%2C%20Culture%3Dneutral%2C%20PublicKeyToken%3Dnull%5D%5D'
              examples:
                default:
                  value:
                  - id: '2163003'
                    activityTemplateId: '4'
                    type: event
                    ownerId: '2'
                    title: Talk about insurance
                    notes: They want to buy
                    date: '2026-08-03T07:14:40.1871117+00:00'
                    durationSeconds: 3600
                    allDay: false
                    reference: dsfoso123sadp
                    activityId: '2163003'
                    autoExecution: false
                    contactId: '25'
                    leadId: 6141d5853bf5da0001e891ee
                    duration: 60
                    activityDone: false
                    recurringDefinition:
                      id: '304'
                      periodicity: hours
                      interval: 5
                      repeatOn:
                      - monday
                      - friday
                      count: 5
                    remindBeforeInSeconds: 3600
                    originalStartDate: '2026-08-03T07:14:40.1871149+00:00'
                  - id: '2155003'
                    activityTemplateId: '3'
                    type: event
                    ownerId: '2'
                    title: Follow Up
                    notes: Talk about their experience
                    date: '2026-08-03T07:14:40.1872719+00:00'
                    durationSeconds: 3600
                    allDay: false
                    reference: ds23sadp
                    activityId: '2163703'
                    autoExecution: false
                    contactId: '26'
                    leadId: 6141d5853bf5da0001e891xx
                    duration: 60
                    activityDone: false
                    remindBeforeInSeconds: 7200
                    originalStartDate: '2026-08-03T07:14:40.1872728+00:00'
            application/json:
              schema:
                $ref: '#/components/schemas/Spotio.Frontend.Web.Helpers.ScrollResult%601%5B%5BSpotio.Frontend.ViewModel.DataObjects.Activities.UpcomingDataObjectAppointmentDto%2C%20Spotio.Frontend.ViewModel%2C%20Version%3D1.0.0.0%2C%20Culture%3Dneutral%2C%20PublicKeyToken%3Dnull%5D%5D'
              examples:
                default:
                  value:
                  - id: '2163003'
                    activityTemplateId: '4'
                    type: event
                    ownerId: '2'
                    title: Talk about insurance
                    notes: They want to buy
                    date: '2026-08-03T07:14:40.1871117+00:00'
                    durationSeconds: 3600
                    allDay: false
                    reference: dsfoso123sadp
                    activityId: '2163003'
                    autoExecution: false
                    contactId: '25'
                    leadId: 6141d5853bf5da0001e891ee
                    duration: 60
                    activityDone: false
                    recurringDefinition:
                      id: '304'
                      periodicity: hours
                      interval: 5
                      repeatOn:
                      - monday
                      - friday
                      count: 5
                    remindBeforeInSeconds: 3600
                    originalStartDate: '2026-08-03T07:14:40.1871149+00:00'
                  - id: '2155003'
                    activityTemplateId: '3'
                    type: event
                    ownerId: '2'
                    title: Follow Up
                    notes: Talk about their experience
                    date: '2026-08-03T07:14:40.1872719+00:00'
                    durationSeconds: 3600
                    allDay: false
                    reference: ds23sadp
                    activityId: '2163703'
                    autoExecution: false
                    contactId: '26'
                    leadId: 6141d5853bf5da0001e891xx
                    duration: 60
                    activityDone: false
                    remindBeforeInSeconds: 7200
                    originalStartDate: '2026-08-03T07:14:40.1872728+00:00'
            text/json:
              schema:
                $ref: '#/components/schemas/Spotio.Frontend.Web.Helpers.ScrollResult%601%5B%5BSpotio.Frontend.ViewModel.DataObjects.Activities.UpcomingDataObjectAppointmentDto%2C%20Spotio.Frontend.ViewModel%2C%20Version%3D1.0.0.0%2C%20Culture%3Dneutral%2C%20PublicKeyToken%3Dnull%5D%5D'
              examples:
                default:
                  value:
                  - id: '2163003'
                    activityTemplateId: '4'
                    type: event
                    ownerId: '2'
                    title: Talk about insurance
                    notes: They want to buy
                    date: '2026-08-03T07:14:40.1871117+00:00'
                    durationSeconds: 3600
                    allDay: false
                    reference: dsfoso123sadp
                    activityId: '2163003'
                    autoExecution: false
                    contactId: '25'
                    leadId: 6141d5853bf5da0001e891ee
                    duration: 60
                    activityDone: false
                    recurringDefinition:
                      id: '304'
                      periodicity: hours
                      interval: 5
                      repeatOn:
                      - monday
                      - friday
                      count: 5
                    remindBeforeInSeconds: 3600
                    originalStartDate: '2026-08-03T07:14:40.1871149+00:00'
                  - id: '2155003'
                    activityTemplateId: '3'
                    type: event
                    ownerId: '2'
                    title: Follow Up
                    notes: Talk about their experience
                    date: '2026-08-03T07:14:40.1872719+00:00'
                    durationSeconds: 3600
                    allDay: false
                    reference: ds23sadp
                    activityId: '2163703'
                    autoExecution: false
                    contactId: '26'
                    leadId: 6141d5853bf5da0001e891xx
                    duration: 60
                    activityDone: false
                    remindBeforeInSeconds: 7200
                    originalStartDate: '2026-08-03T07:14:40.1872728+00:00'
        '401':
          description: Unauthorized
        '415':
          description: Client Error
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            text/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
        '422':
          description: Client Error
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            text/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
        '500':
          description: Server Error
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            text/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
      security:
      - Bearer: []
      servers:
      - url: https://api.spotio2.com
        description: Production
      - url: https://app-test.spotio2.com
        description: Test
    post:
      tags:
      - DataObjects
      summary: 'Filtered Upcoming Appointments '
      description: Filtered array with upcoming appointments for the data object
      parameters:
      - name: scrollId
        in: query
        schema:
          type: string
      - name: dataObjectId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/merge-patch+json:
            schema:
              $ref: '#/components/schemas/Spotio.Frontend.ViewModel.DataObjects.UpcomingDataObjectAppointmentRequest'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Spotio.Frontend.ViewModel.DataObjects.UpcomingDataObjectAppointmentRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/Spotio.Frontend.ViewModel.DataObjects.UpcomingDataObjectAppointmentRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/Spotio.Frontend.ViewModel.DataObjects.UpcomingDataObjectAppointmentRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Spotio.Frontend.ViewModel.DataObjects.UpcomingDataObjectAppointmentRequest'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Spotio.Frontend.Web.Helpers.ScrollResult%601%5B%5BSpotio.Frontend.ViewModel.DataObjects.Activities.UpcomingDataObjectAppointmentDto%2C%20Spotio.Frontend.ViewModel%2C%20Version%3D1.0.0.0%2C%20Culture%3Dneutral%2C%20PublicKeyToken%3Dnull%5D%5D'
              examples:
                default:
                  value:
                  - id: '2163003'
                    activityTemplateId: '4'
                    type: event
                    ownerId: '2'
                    title: Talk about insurance
                    notes: They want to buy
                    date: '2026-08-03T07:14:40.19941+00:00'
                    durationSeconds: 3600
                    allDay: false
                    reference: dsfoso123sadp
                    activityId: '2163003'
                    autoExecution: false
                    contactId: '25'
                    leadId: 6141d5853bf5da0001e891ee
                    duration: 60
                    activityDone: false
                    recurringDefinition:
                      id: '304'
                      periodicity: hours
                      interval: 5
                      repeatOn:
                      - monday
                      - friday
                      count: 5
                    remindBeforeInSeconds: 3600
                    originalStartDate: '2026-08-03T07:14:40.1994125+00:00'
                  - id: '2155003'
                    activityTemplateId: '3'
                    type: event
                    ownerId: '2'
                    title: Follow Up
                    notes: Talk about their experience
                    date: '2026-08-03T07:14:40.1994142+00:00'
                    durationSeconds: 3600
                    allDay: false
                    reference: ds23sadp
                    activityId: '2163703'
                    autoExecution: false
                    contactId: '26'
                    leadId: 6141d5853bf5da0001e891xx
                    duration: 60
                    activityDone: false
                    remindBeforeInSeconds: 7200
                    originalStartDate: '2026-08-03T07:14:40.1994144+00:00'
            application/json:
              schema:
                $ref: '#/components/schemas/Spotio.Frontend.Web.Helpers.ScrollResult%601%5B%5BSpotio.Frontend.ViewModel.DataObjects.Activities.UpcomingDataObjectAppointmentDto%2C%20Spotio.Frontend.ViewModel%2C%20Version%3D1.0.0.0%2C%20Culture%3Dneutral%2C%20PublicKeyToken%3Dnull%5D%5D'
              examples:
                default:
                  value:
                  - id: '2163003'
                    activityTemplateId: '4'
                    type: event
                    ownerId: '2'
                    title: Talk about insurance
                    notes: They want to buy
                    date: '2026-08-03T07:14:40.19941+00:00'
                    durationSeconds: 3600
                    allDay: false
                    reference: dsfoso123sadp
                    activityId: '2163003'
                    autoExecution: false
                    contactId: '25'
                    leadId: 6141d5853bf5da0001e891ee
                    duration: 60
                    activityDone: false
                    recurringDefinition:
                      id: '304'
                      periodicity: hours
                      interval: 5
                      repeatOn:
                      - monday
                      - friday
                      count: 5
                    remindBeforeInSeconds: 3600
                    originalStartDate: '2026-08-03T07:14:40.1994125+00:00'
                  - id: '2155003'
                    activityTemplateId: '3'
                    type: event
                    ownerId: '2'
                    title: Follow Up
                    notes: Talk about their experience
                    date: '2026-08-03T07:14:40.1994142+00:00'
                    durationSeconds: 3600
                    allDay: false
                    reference: ds23sadp
                    activityId: '2163703'
                    autoExecution: false
                    contactId: '26'
                    leadId: 6141d5853bf5da0001e891xx
                    duration: 60
                    activityDone: false
                    remindBeforeInSeconds: 7200
                    originalStartDate: '2026-08-03T07:14:40.1994144+00:00'
            text/json:
              schema:
                $ref: '#/components/schemas/Spotio.Frontend.Web.Helpers.ScrollResult%601%5B%5BSpotio.Frontend.ViewModel.DataObjects.Activities.UpcomingDataObjectAppointmentDto%2C%20Spotio.Frontend.ViewModel%2C%20Version%3D1.0.0.0%2C%20Culture%3Dneutral%2C%20PublicKeyToken%3Dnull%5D%5D'
              examples:
                default:
                  value:
                  - id: '2163003'
                    activityTemplateId: '4'
                    type: event
                    ownerId: '2'
                    title: Talk about insurance
                    notes: They want to buy
                    date: '2026-08-03T07:14:40.19941+00:00'
                    durationSeconds: 3600
                    allDay: false
                    reference: dsfoso123sadp
                    activityId: '2163003'
                    autoExecution: false
                    contactId: '25'
                    leadId: 6141d5853bf5da0001e891ee
                    duration: 60
                    activityDone: false
                    recurringDefinition:
                      id: '304'
                      periodicity: hours
                      interval: 5
                      repeatOn:
                      - monday
                      - friday
                      count: 5
                    remindBeforeInSeconds: 3600
                    originalStartDate: '2026-08-03T07:14:40.1994125+00:00'
                  - id: '2155003'
                    activityTemplateId: '3'
                    type: event
                    ownerId: '2'
                    title: Follow Up
                    notes: Talk about their experience
                    date: '2026-08-03T07:14:40.1994142+00:00'
                    durationSeconds: 3600
                    allDay: false
                    reference: ds23sadp
                    activityId: '2163703'
                    autoExecution: false
                    contactId: '26'
                    leadId: 6141d5853bf5da0001e891xx
                    duration: 60
                    activityDone: false
                    remindBeforeInSeconds: 7200
                    originalStartDate: '2026-08-03T07:14:40.1994144+00:00'
        '401':
          description: Unauthorized
        '415':
          description: Client Error
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            text/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
        '422':
          description: Client Error
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            text/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
        '500':
          description: Server Error
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            text/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
      security:
      - Bearer: []
      servers:
      - url: https://api.spotio2.com
        description: Production
      - url: https://app-test.spotio2.com
        description: Test
  /api/DataObjects/{dataObjectId}/related:
    get:
      tags:
      - DataObjects
      summary: Get related data objects
      description: Returns paginated list of related data objects based on text search.
      parameters:
      - name: q
        in: query
        description: Text that can be used in a search of objects
        schema:
          type: string
      - name: sortBy
        in: query
        description: By what property objects should be sorted by
        schema:
          type: string
      - name: scrollId
        in: query
        description: Cursor for pagination (next page)
        schema:
          type: string
      - name: nba
        in: query
        description: 'Optional Next Best Action type used to return only related objects that support the action. Supported values: visit, call, email, appointment. When omitted, no NBA compatibility filter is applied.'
        schema:
          type: string
      - name: perPage
        in: query
        description: Number of objects per page
        schema:
          type: integer
          format: int32
          default: 50
      - name: dataObjectId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Spotio.Frontend.ViewModel.DataObjects.Search.SearchDataObjectsResultDto%601%5B%5BSpotio.Frontend.ViewModel.DataObjects.RelatedObjects.RelatedDataObjectDto%2C%20Spotio.Frontend.ViewModel%2C%20Version%3D1.0.0.0%2C%20Culture%3Dneutral%2C%20PublicKeyToken%3Dnull%5D%5D'
            application/json:
              schema:
                $ref: '#/components/schemas/Spotio.Frontend.ViewModel.DataObjects.Search.SearchDataObjectsResultDto%601%5B%5BSpotio.Frontend.ViewModel.DataObjects.RelatedObjects.RelatedDataObjectDto%2C%20Spotio.Frontend.ViewModel%2C%20Version%3D1.0.0.0%2C%20Culture%3Dneutral%2C%20PublicKeyToken%3Dnull%5D%5D'
            text/json:
              schema:
                $ref: '#/components/schemas/Spotio.Frontend.ViewModel.DataObjects.Search.SearchDataObjectsResultDto%601%5B%5BSpotio.Frontend.ViewModel.DataObjects.RelatedObjects.RelatedDataObjectDto%2C%20Spotio.Frontend.ViewModel%2C%20Version%3D1.0.0.0%2C%20Culture%3Dneutral%2C%20PublicKeyToken%3Dnull%5D%5D'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            text/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            text/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
      security:
      - Bearer: []
      servers:
      - url: https://api.spotio2.com
        description: Production
      - url: https://app-test.spotio2.com
        description: Test
  /api/DataObjects/{dataObjectId}/related/{relatedDataObjectsTypeId}:
    get:
      tags:
      - DataObjects
      summary: Get related objects
      description: Returns paginated list of related objects based on the type and text search.
      parameters:
      - name: q
        in: query
        description: Text that can be used in a search of objects
        schema:
          type: string
      - name: sortBy
        in: query
        description: By what property objects should be sorted by
        schema:
          type: string
      - name: scrollId
        in: query
        description: Cursor for pagination (next page)
        schema:
          type: string
      - name: perPage
        in: query
        description: Number of objects per page
        schema:
          type: integer
          format: int32
          default: 50
      - name: dataObjectId
        in: path
        required: true
        schema:
          type: string
      - name: relatedDataObjectsTypeId
        in: path
        description: Related object type
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Spotio.Frontend.ViewModel.DataObjects.Search.SearchDataObjectsResultDto%601%5B%5BSpotio.Frontend.ViewModel.DataObjects.RelatedObjects.RelatedDataObjectDto%2C%20Spotio.Frontend.ViewModel%2C%20Version%3D1.0.0.0%2C%20Culture%3Dneutral%2C%20PublicKeyToken%3Dnull%5D%5D'
            application/json:
              schema:
                $ref: '#/components/schemas/Spotio.Frontend.ViewModel.DataObjects.Search.SearchDataObjectsResultDto%601%5B%5BSpotio.Frontend.ViewModel.DataObjects.RelatedObjects.RelatedDataObjectDto%2C%20Spotio.Frontend.ViewModel%2C%20Version%3D1.0.0.0%2C%20Culture%3Dneutral%2C%20PublicKeyToken%3Dnull%5D%5D'
            text/json:
              schema:
                $ref: '#/components/schemas/Spotio.Frontend.ViewModel.DataObjects.Search.SearchDataObjectsResultDto%601%5B%5BSpotio.Frontend.ViewModel.DataObjects.RelatedObjects.RelatedDataObjectDto%2C%20Spotio.Frontend.ViewModel%2C%20Version%3D1.0.0.0%2C%20Culture%3Dneutral%2C%20PublicKeyToken%3Dnull%5D%5D'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            text/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            text/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
      security:
      - Bearer: []
      servers:
      - url: https://api.spotio2.com
        description: Production
      - url: https://app-test.spotio2.com
        description: Test
  /api/DataObjects/bulkActions/status:
    get:
      tags:
      - DataObjects
      summary: Get user bulk actions status
      description: Returns bulk actions status for user
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Spotio.Frontend.ViewModel.DataObjects.Search.SearchDataObjectsResultDto%601%5B%5BSpotio.Frontend.ViewModel.DataObjects.RelatedObjects.RelatedDataObjectDto%2C%20Spotio.Frontend.ViewModel%2C%20Version%3D1.0.0.0%2C%20Culture%3Dneutral%2C%20PublicKeyToken%3Dnull%5D%5D'
            application/json:
              schema:
                $ref: '#/components/schemas/Spotio.Frontend.ViewModel.DataObjects.Search.SearchDataObjectsResultDto%601%5B%5BSpotio.Frontend.ViewModel.DataObjects.RelatedObjects.RelatedDataObjectDto%2C%20Spotio.Frontend.ViewModel%2C%20Version%3D1.0.0.0%2C%20Culture%3Dneutral%2C%20PublicKeyToken%3Dnull%5D%5D'
            text/json:
              schema:
                $ref: '#/components/schemas/Spotio.Frontend.ViewModel.DataObjects.Search.SearchDataObjectsResultDto%601%5B%5BSpotio.Frontend.ViewModel.DataObjects.RelatedObjects.RelatedDataObjectDto%2C%20Spotio.Frontend.ViewModel%2C%20Version%3D1.0.0.0%2C%20Culture%3Dneutral%2C%20PublicKeyToken%3Dnull%5D%5D'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            text/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            text/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
      security:
      - Bearer: []
      servers:
      - url: https://api.spotio2.com
        description: Production
      - url: https://app-test.spotio2.com
        description: Test
  /api/DataObjects/{dataObjectId}/duplicatesByAddress:
    get:
      tags:
      - DataObjects
      summary: Get duplicates by address
      parameters:
      - name: dataObjectId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Spotio.Frontend.ViewModel.DataObjects.Search.SearchSimpleDataObjectDto'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Spotio.Frontend.ViewModel.DataObjects.Search.SearchSimpleDataObjectDto'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Spotio.Frontend.ViewModel.DataObjects.Search.SearchSimpleDataObjectDto'
        '401':
          description: Unauthorized
      security:
      - Bearer: []
      servers:
      - url: https://api.spotio2.com
        description: Production
      - url: https://app-test.spotio2.com
        description: Test
components:
  schemas:
    Spotio.Frontend.ViewModel.DataObjects.ValidateBulkActionResponse:
      type: object
      additionalProperties: false
      properties:
        dataObjectTypeIds:
          type:
          - array
          - 'null'
          items:
            type: string
        count:
          type: integer
          format: int64
        childrenCount:
          type: integer
          format: int32
        invalidDataObjectsNames:
          type:
          - array
          - 'null'
          items:
            type: string
        allWithoutRequiredField:
          type: boolean
        anyWithoutRequiredField:
          type: boolean
        allOptedIn:
          type: boolean
        anyOptedIn:
          type: boolean
        validCount:
          type: integer
          format: int64
        showHistoryResetWarning:
          type: boolean
    Spotio.Frontend.ViewModel.DataObjects.DataObjectWithParent:
      type: object
      additionalProperties: false
      properties:
        parentsInfo:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Spotio.Frontend.ViewModel.DataObjects.ParentObjectInfo'
        id:
          type:
          - string
          - 'null'
          description: The ID of the data object.
        name:
          type:
          - string
          - 'null'
        stageId:
          type:
          - string
          - 'null'
        ownerId:
          type:
          - string
          - 'null'
          description: The ID of the owner of the data object.
        pin:
          $ref: '#/components/schemas/Spotio.Frontend.ViewModel.DataObjects.Pin'
        source:
          type:
          - string
          - 'null'
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        lastVisitResultId:
          type:
          - string
          - 'null'
        lastVisitDate:
          type:
          - string
          - 'null'
          format: date-time
        lastVisitNote:
          type:
          - string
          - 'null'
        externalDataObjectId:
          type:
          - string
          - 'null'
        territoryId:
          type:
          - string
          - 'null'
        territories:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Spotio.Frontend.ViewModel.DataObjects.DataObjectTerritoryAncestorDto'
        stageUpdatedAt:
          type:
          - string
          - 'null'
          format: date-time
        stageUpdatedById:
          type:
          - string
          - 'null'
        createdById:
          type:
          - string
          - 'null'
        updatedById:
          type:
          - string
          - 'null'
        lastLocationStatus:
          $ref: '#/components/schemas/Spotio.DataObjects.Client.Contract.Activity.LocationStatus'
        visitsCount:
          type: integer
          format: int32
        lastActivityTime:
          type:
          - string
          - 'null'
          format: date-time
        nextActivityTime:
          type:
          - string
          - 'null'
          format: date-time
        dateOfAssignment:
          type:
          - string
          - 'null'
          format: date-time
        callsCount:
          type: integer
          format: int32
        lastCallDate:
          type:
          - string
          - 'null'
          format: date-time
        lastCallResultId:
          type:
          - string
          - 'null'
        fields:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Spotio.Frontend.ViewModel.DataObjects.FieldValue'
        typeId:
          type:
          - string
          - 'null'
        access:
          $ref: '#/components/schemas/Spotio.Frontend.ViewModel.DataObjects.DataObjectAccessType'
        phones:
          type:
          - array
          - 'null'
          items:
            type: string
        emails:
          type:
          - array
          - 'null'
          items:
            type: string
        value:
          type:
          - number
          - 'null'
          format: double
        addressUnit:
          type:
          - string
          - 'null'
        textOptedIn:
          type: boolean
        phonesFullInfo:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Spotio.Frontend.ViewModel.Common.PhoneNumberFullInfo'
        collaboratorIds:
          type:
          - array
          - 'null'
          description: The list of collaborators.
          items:
            type: string
    Spotio.Frontend.ViewModel.DataObjects.DeletedDataObjectsResponse:
      type: object
      additionalProperties: false
      properties:
        scrollId:
          type:
          - string
          - 'null'
        deletedDataObjects:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Spotio.Frontend.ViewModel.DataObjects.DeletedDataObjectMetadata'
    Spotio.Frontend.ViewModel.DataObjects.ChildObjectRequest:
      type: object
      additionalProperties: false
      properties:
        id:
          type:
          - string
          - 'null'
        fields:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Spotio.Frontend.ViewModel.DataObjects.FieldValue'
        typeId:
          type: integer
          format: int32
    Spotio.Frontend.ViewModel.DataObjects.DeleteDataObjectRequest:
      type: object
      additionalProperties: false
      properties:
        mode:
[...]
