openapi: 3.2.0
info:
  version: v1
  title: Spotio 2.0 Layouts API
  description: ''
  contact:
    name: Contact us
    url: https://spotio.com/contact/
    email: support@spotio.com
servers:
- url: https://api.spotio2.com
  description: Production
- url: https://app-test.spotio2.com
  description: Test
security:
- Bearer: []
tags:
- name: Layouts
paths:
  /api/layouts/all:
    get:
      tags:
      - Layouts
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Spotio.Frontend.ViewModel.Layouts.Layout'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Spotio.Frontend.ViewModel.Layouts.Layout'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Spotio.Frontend.ViewModel.Layouts.Layout'
      security:
      - Bearer: []
      servers:
      - url: https://api.spotio2.com
        description: Production
      - url: https://app-test.spotio2.com
        description: Test
  /api/layouts/dataObject/{typeId}:
    get:
      tags:
      - Layouts
      parameters:
      - name: typeId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Spotio.Frontend.ViewModel.Layouts.Layout'
            application/json:
              schema:
                $ref: '#/components/schemas/Spotio.Frontend.ViewModel.Layouts.Layout'
            text/json:
              schema:
                $ref: '#/components/schemas/Spotio.Frontend.ViewModel.Layouts.Layout'
      security:
      - Bearer: []
      servers:
      - url: https://api.spotio2.com
        description: Production
      - url: https://app-test.spotio2.com
        description: Test
  /api/layouts/{id}/properties:
    patch:
      tags:
      - Layouts
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/merge-patch+json:
            schema:
              $ref: '#/components/schemas/Spotio.Frontend.ViewModel.Layouts.UpdatePropertiesRequest'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Spotio.Frontend.ViewModel.Layouts.UpdatePropertiesRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/Spotio.Frontend.ViewModel.Layouts.UpdatePropertiesRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/Spotio.Frontend.ViewModel.Layouts.UpdatePropertiesRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Spotio.Frontend.ViewModel.Layouts.UpdatePropertiesRequest'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Spotio.Frontend.ViewModel.Layouts.Properties'
            application/json:
              schema:
                $ref: '#/components/schemas/Spotio.Frontend.ViewModel.Layouts.Properties'
            text/json:
              schema:
                $ref: '#/components/schemas/Spotio.Frontend.ViewModel.Layouts.Properties'
      security:
      - Bearer: []
      servers:
      - url: https://api.spotio2.com
        description: Production
      - url: https://app-test.spotio2.com
        description: Test
  /api/layouts/{id}/section:
    post:
      tags:
      - Layouts
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/merge-patch+json:
            schema:
              $ref: '#/components/schemas/Spotio.Frontend.ViewModel.Layouts.AddSectionRequest'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Spotio.Frontend.ViewModel.Layouts.AddSectionRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/Spotio.Frontend.ViewModel.Layouts.AddSectionRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/Spotio.Frontend.ViewModel.Layouts.AddSectionRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Spotio.Frontend.ViewModel.Layouts.AddSectionRequest'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Spotio.Frontend.ViewModel.Layouts.Section'
            application/json:
              schema:
                $ref: '#/components/schemas/Spotio.Frontend.ViewModel.Layouts.Section'
            text/json:
              schema:
                $ref: '#/components/schemas/Spotio.Frontend.ViewModel.Layouts.Section'
      security:
      - Bearer: []
      servers:
      - url: https://api.spotio2.com
        description: Production
      - url: https://app-test.spotio2.com
        description: Test
  /api/layouts/{id}/section/{sectionId}:
    patch:
      tags:
      - Layouts
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: sectionId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/merge-patch+json:
            schema:
              $ref: '#/components/schemas/Spotio.Frontend.ViewModel.Layouts.UpdateSectionRequest'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Spotio.Frontend.ViewModel.Layouts.UpdateSectionRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/Spotio.Frontend.ViewModel.Layouts.UpdateSectionRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/Spotio.Frontend.ViewModel.Layouts.UpdateSectionRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Spotio.Frontend.ViewModel.Layouts.UpdateSectionRequest'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Spotio.Frontend.ViewModel.Layouts.Section'
            application/json:
              schema:
                $ref: '#/components/schemas/Spotio.Frontend.ViewModel.Layouts.Section'
            text/json:
              schema:
                $ref: '#/components/schemas/Spotio.Frontend.ViewModel.Layouts.Section'
      security:
      - Bearer: []
      servers:
      - url: https://api.spotio2.com
        description: Production
      - url: https://app-test.spotio2.com
        description: Test
    delete:
      tags:
      - Layouts
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: sectionId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Spotio.Frontend.ViewModel.Layouts.Section'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Spotio.Frontend.ViewModel.Layouts.Section'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Spotio.Frontend.ViewModel.Layouts.Section'
      security:
      - Bearer: []
      servers:
      - url: https://api.spotio2.com
        description: Production
      - url: https://app-test.spotio2.com
        description: Test
  /api/layouts/{id}/section/{sectionId}/move:
    post:
      tags:
      - Layouts
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: sectionId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/merge-patch+json:
            schema:
              $ref: '#/components/schemas/Spotio.Frontend.ViewModel.Layouts.MoveSectionRequest'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Spotio.Frontend.ViewModel.Layouts.MoveSectionRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/Spotio.Frontend.ViewModel.Layouts.MoveSectionRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/Spotio.Frontend.ViewModel.Layouts.MoveSectionRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Spotio.Frontend.ViewModel.Layouts.MoveSectionRequest'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Spotio.Frontend.ViewModel.Layouts.Section'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Spotio.Frontend.ViewModel.Layouts.Section'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Spotio.Frontend.ViewModel.Layouts.Section'
      security:
      - Bearer: []
      servers:
      - url: https://api.spotio2.com
        description: Production
      - url: https://app-test.spotio2.com
        description: Test
  /api/layouts/{id}/field/{fieldId}/move:
    post:
      tags:
      - Layouts
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: fieldId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/merge-patch+json:
            schema:
              $ref: '#/components/schemas/Spotio.Frontend.ViewModel.Layouts.MoveFieldRequest'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Spotio.Frontend.ViewModel.Layouts.MoveFieldRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/Spotio.Frontend.ViewModel.Layouts.MoveFieldRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/Spotio.Frontend.ViewModel.Layouts.MoveFieldRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Spotio.Frontend.ViewModel.Layouts.MoveFieldRequest'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Spotio.Frontend.ViewModel.Layouts.Section'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Spotio.Frontend.ViewModel.Layouts.Section'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Spotio.Frontend.ViewModel.Layouts.Section'
      security:
      - Bearer: []
      servers:
      - url: https://api.spotio2.com
        description: Production
      - url: https://app-test.spotio2.com
        description: Test
  /api/layouts/{id}/field/{fieldId}:
    delete:
      tags:
      - Layouts
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: fieldId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Spotio.Frontend.ViewModel.Layouts.Section'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Spotio.Frontend.ViewModel.Layouts.Section'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Spotio.Frontend.ViewModel.Layouts.Section'
      security:
      - Bearer: []
      servers:
      - url: https://api.spotio2.com
        description: Production
      - url: https://app-test.spotio2.com
        description: Test
components:
  schemas:
    Spotio.Frontend.ViewModel.Layouts.AddSectionRequest:
      type: object
      additionalProperties: false
      properties:
        name:
          type:
          - string
          - 'null'
        description:
          type:
          - string
          - 'null'
        position:
          type: integer
          format: int32
    Spotio.Frontend.ViewModel.Layouts.MoveFieldRequest:
      type: object
      additionalProperties: false
      properties:
        targetSectionId:
          type:
          - string
          - 'null'
        position:
          type: integer
          format: int32
    Spotio.Frontend.ViewModel.Layouts.MoveSectionRequest:
      type: object
      additionalProperties: false
      properties:
        position:
          type: integer
          format: int32
    Spotio.Frontend.ViewModel.Layouts.Section:
      type: object
      additionalProperties: false
      properties:
        id:
          type:
          - string
          - 'null'
        name:
          type:
          - string
          - 'null'
        description:
          type:
          - string
          - 'null'
        position:
          type: integer
          format: int32
        fields:
          type:
          - array
          - 'null'
          items:
            type: string
    Spotio.Frontend.ViewModel.Layouts.Properties:
      type: object
      additionalProperties: false
      properties:
        columnsCount:
          type: integer
          format: int32
        highlightFirstSection:
          type: boolean
        tabs:
          type:
          - array
          - 'null'
          items:
            type: string
    Spotio.Frontend.ViewModel.Layouts.UpdateSectionRequest:
      type: object
      additionalProperties: false
      properties:
        name:
          type:
          - string
          - 'null'
        description:
          type:
          - string
          - 'null'
    Spotio.Frontend.ViewModel.Layouts.UpdatePropertiesRequest:
      type: object
      additionalProperties: false
      properties:
        columnsCount:
          type:
          - integer
          - 'null'
          format: int32
        highlightFirstSection:
          type:
          - boolean
          - 'null'
        tabs:
          type:
          - array
          - 'null'
          items:
            type: string
    Spotio.Frontend.ViewModel.Layouts.Layout:
      type: object
      additionalProperties: false
      properties:
        id:
          type:
          - string
          - 'null'
        dataObjectTypeId:
          type:
          - string
          - 'null'
        properties:
          $ref: '#/components/schemas/Spotio.Frontend.ViewModel.Layouts.Properties'
        sections:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Spotio.Frontend.ViewModel.Layouts.Section'
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
  securitySchemes:
    Bearer:
      type: apiKey
      description: 'Enter the Bearer Authorization string as following: `Bearer Generated-JWT-Token`'
      name: Authorization
      in: header
