openapi: 3.2.0
info:
  version: v1
  title: Spotio 2.0 My Reports API
  description: The controller is responsible for managing MyReports in a web application, creation, updating and rendering MyReports.
  contact:
    name: Contact us
    url: https://spotio.com/contact/
    email: support@spotio.com
servers:
- url: https://api.spotio2.com
  description: Production
- url: https://app-test.spotio2.com
  description: Test
security:
- Bearer: []
tags:
- name: MyReports
  description: The controller is responsible for managing MyReports in a web application, creation, updating and rendering MyReports.
paths:
  /api/MyReports:
    get:
      tags:
      - MyReports
      summary: Get a list of My Reports
      description: Retrieves a list of My Reports based on the specified filters.
      parameters:
      - name: showMine
        in: query
        description: Indicates whether to return only the reports created by the current user.
        schema:
          type: boolean
      - name: dataObjectTypeId
        in: query
        description: The ID of the Data Object type that the reports should be filtered by. If not specified, all report types will be returned.
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Spotio.Frontend.ViewModel.MyReports.MyReportForList'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Spotio.Frontend.ViewModel.MyReports.MyReportForList'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Spotio.Frontend.ViewModel.MyReports.MyReportForList'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            text/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            text/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
      security:
      - Bearer: []
      servers:
      - url: https://api.spotio2.com
        description: Production
      - url: https://app-test.spotio2.com
        description: Test
    post:
      tags:
      - MyReports
      summary: Create a new report
      requestBody:
        content:
          application/merge-patch+json:
            schema:
              $ref: '#/components/schemas/Spotio.Frontend.ViewModel.MyReports.MyReport'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Spotio.Frontend.ViewModel.MyReports.MyReport'
          application/json:
            schema:
              $ref: '#/components/schemas/Spotio.Frontend.ViewModel.MyReports.MyReport'
          text/json:
            schema:
              $ref: '#/components/schemas/Spotio.Frontend.ViewModel.MyReports.MyReport'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Spotio.Frontend.ViewModel.MyReports.MyReport'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Spotio.Frontend.ViewModel.MyReports.MyReportResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/Spotio.Frontend.ViewModel.MyReports.MyReportResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/Spotio.Frontend.ViewModel.MyReports.MyReportResponse'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            text/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            text/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
      security:
      - Bearer: []
      servers:
      - url: https://api.spotio2.com
        description: Production
      - url: https://app-test.spotio2.com
        description: Test
  /api/MyReports/{id}:
    get:
      tags:
      - MyReports
      summary: Get a specific report.
      description: Returns the report with the specified ID.
      parameters:
      - name: id
        in: path
        description: Report Id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Spotio.Frontend.ViewModel.MyReports.MyReportResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/Spotio.Frontend.ViewModel.MyReports.MyReportResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/Spotio.Frontend.ViewModel.MyReports.MyReportResponse'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            text/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            text/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
      security:
      - Bearer: []
      servers:
      - url: https://api.spotio2.com
        description: Production
      - url: https://app-test.spotio2.com
        description: Test
    put:
      tags:
      - MyReports
      summary: Update existing report
      parameters:
      - name: id
        in: path
        description: Report id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/merge-patch+json:
            schema:
              $ref: '#/components/schemas/Spotio.Frontend.ViewModel.MyReports.MyReport'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Spotio.Frontend.ViewModel.MyReports.MyReport'
          application/json:
            schema:
              $ref: '#/components/schemas/Spotio.Frontend.ViewModel.MyReports.MyReport'
          text/json:
            schema:
              $ref: '#/components/schemas/Spotio.Frontend.ViewModel.MyReports.MyReport'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Spotio.Frontend.ViewModel.MyReports.MyReport'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Spotio.Frontend.ViewModel.MyReports.MyReportResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/Spotio.Frontend.ViewModel.MyReports.MyReportResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/Spotio.Frontend.ViewModel.MyReports.MyReportResponse'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            text/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            text/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
      security:
      - Bearer: []
      servers:
      - url: https://api.spotio2.com
        description: Production
      - url: https://app-test.spotio2.com
        description: Test
    delete:
      tags:
      - MyReports
      summary: Delete existing report
      parameters:
      - name: id
        in: path
        description: Report id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            text/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            text/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
      security:
      - Bearer: []
      servers:
      - url: https://api.spotio2.com
        description: Production
      - url: https://app-test.spotio2.com
        description: Test
  /api/MyReports/{id}/render:
    get:
      tags:
      - MyReports
      summary: Render report by id
      parameters:
      - name: filterId
        in: query
        description: Filter
        schema:
          type: string
      - name: includeValueRef
        in: query
        schema:
          type: boolean
      - name: scrollId
        in: query
        description: Cursor for pagination (next page)
        schema:
          type: string
      - name: dateFormat
        in: query
        description: Optional date format override
        schema:
          type: string
      - name: id
        in: path
        description: Report id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Spotio.Frontend.ViewModel.MyReports.RenderedMyReport'
            application/json:
              schema:
                $ref: '#/components/schemas/Spotio.Frontend.ViewModel.MyReports.RenderedMyReport'
            text/json:
              schema:
                $ref: '#/components/schemas/Spotio.Frontend.ViewModel.MyReports.RenderedMyReport'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            text/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            text/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
      security:
      - Bearer: []
      servers:
      - url: https://api.spotio2.com
        description: Production
      - url: https://app-test.spotio2.com
        description: Test
    post:
      tags:
      - MyReports
      summary: Render report by id
      parameters:
      - name: filterId
        in: query
        description: Filter
        schema:
          type: string
      - name: includeValueRef
        in: query
        schema:
          type: boolean
      - name: scrollId
        in: query
        description: Cursor for pagination (next page)
        schema:
          type: string
      - name: dateFormat
        in: query
        description: Optional date format override
        schema:
          type: string
      - name: id
        in: path
        description: Report id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/merge-patch+json:
            schema:
              $ref: '#/components/schemas/Spotio.Frontend.ViewModel.MyReports.RenderReportRequestDto'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Spotio.Frontend.ViewModel.MyReports.RenderReportRequestDto'
          application/json:
            schema:
              $ref: '#/components/schemas/Spotio.Frontend.ViewModel.MyReports.RenderReportRequestDto'
          text/json:
            schema:
              $ref: '#/components/schemas/Spotio.Frontend.ViewModel.MyReports.RenderReportRequestDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Spotio.Frontend.ViewModel.MyReports.RenderReportRequestDto'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Spotio.Frontend.ViewModel.MyReports.RenderedMyReport'
            application/json:
              schema:
                $ref: '#/components/schemas/Spotio.Frontend.ViewModel.MyReports.RenderedMyReport'
            text/json:
              schema:
                $ref: '#/components/schemas/Spotio.Frontend.ViewModel.MyReports.RenderedMyReport'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            text/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            text/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
      security:
      - Bearer: []
      servers:
      - url: https://api.spotio2.com
        description: Production
      - url: https://app-test.spotio2.com
        description: Test
  /api/MyReports/preview:
    post:
      tags:
      - MyReports
      summary: Render report preview
      parameters:
      - name: includeValueRef
        in: query
        schema:
          type: boolean
      - name: scrollId
        in: query
        description: Cursor for pagination (next page)
        schema:
          type: string
      - name: dateFormat
        in: query
        description: Optional date format override
        schema:
          type: string
      requestBody:
        content:
          application/merge-patch+json:
            schema:
              $ref: '#/components/schemas/Spotio.Frontend.ViewModel.MyReports.PreviewReportRequestDto'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Spotio.Frontend.ViewModel.MyReports.PreviewReportRequestDto'
          application/json:
            schema:
              $ref: '#/components/schemas/Spotio.Frontend.ViewModel.MyReports.PreviewReportRequestDto'
          text/json:
            schema:
              $ref: '#/components/schemas/Spotio.Frontend.ViewModel.MyReports.PreviewReportRequestDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Spotio.Frontend.ViewModel.MyReports.PreviewReportRequestDto'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Spotio.Frontend.ViewModel.MyReports.RenderedMyReport'
            application/json:
              schema:
                $ref: '#/components/schemas/Spotio.Frontend.ViewModel.MyReports.RenderedMyReport'
            text/json:
              schema:
                $ref: '#/components/schemas/Spotio.Frontend.ViewModel.MyReports.RenderedMyReport'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            text/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            text/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
      security:
      - Bearer: []
      servers:
      - url: https://api.spotio2.com
        description: Production
      - url: https://app-test.spotio2.com
        description: Test
  /api/MyReports/{id}/details:
    post:
      tags:
      - MyReports
      summary: Get cell details
      parameters:
      - name: scrollId
        in: query
        description: Cursor for pagination (next page)
        schema:
          type: string
      - name: filterId
        in: query
        description: Filter id
        schema:
          type: string
      - name: sortBy
        in: query
        description: 'Sort by column: (title, dueDate, completedOn)'
        schema:
          type: string
      - name: dateFormat
        in: query
        description: Optional date format override
        schema:
          type: string
      - name: id
        in: path
        description: Report id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/merge-patch+json:
            schema:
              $ref: '#/components/schemas/Spotio.Frontend.ViewModel.MyReports.ValueRef'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Spotio.Frontend.ViewModel.MyReports.ValueRef'
          application/json:
            schema:
              $ref: '#/components/schemas/Spotio.Frontend.ViewModel.MyReports.ValueRef'
          text/json:
            schema:
              $ref: '#/components/schemas/Spotio.Frontend.ViewModel.MyReports.ValueRef'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Spotio.Frontend.ViewModel.MyReports.ValueRef'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Spotio.Frontend.Web.Helpers.ScrollResult%601%5B%5BSpotio.Frontend.ViewModel.MyReports.CellDetailsDto%2C%20Spotio.Frontend.ViewModel%2C%20Version%3D1.0.0.0%2C%20Culture%3Dneutral%2C%20PublicKeyToken%3Dnull%5D%5D'
            application/json:
              schema:
                $ref: '#/components/schemas/Spotio.Frontend.Web.Helpers.ScrollResult%601%5B%5BSpotio.Frontend.ViewModel.MyReports.CellDetailsDto%2C%20Spotio.Frontend.ViewModel%2C%20Version%3D1.0.0.0%2C%20Culture%3Dneutral%2C%20PublicKeyToken%3Dnull%5D%5D'
            text/json:
              schema:
                $ref: '#/components/schemas/Spotio.Frontend.Web.Helpers.ScrollResult%601%5B%5BSpotio.Frontend.ViewModel.MyReports.CellDetailsDto%2C%20Spotio.Frontend.ViewModel%2C%20Version%3D1.0.0.0%2C%20Culture%3Dneutral%2C%20PublicKeyToken%3Dnull%5D%5D'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            text/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            text/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
      security:
      - Bearer: []
      servers:
      - url: https://api.spotio2.com
        description: Production
      - url: https://app-test.spotio2.com
        description: Test
  /api/MyReports/{id}/details/export:
    post:
      tags:
      - MyReports
      summary: Export cell details
      parameters:
      - name: filterId
        in: query
        description: Filter id
        schema:
          type: string
      - name: id
        in: path
        description: Report id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/merge-patch+json:
            schema:
              $ref: '#/components/schemas/Spotio.Frontend.ViewModel.MyReports.ValueRef'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Spotio.Frontend.ViewModel.MyReports.ValueRef'
          application/json:
            schema:
              $ref: '#/components/schemas/Spotio.Frontend.ViewModel.MyReports.ValueRef'
          text/json:
            schema:
              $ref: '#/components/schemas/Spotio.Frontend.ViewModel.MyReports.ValueRef'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Spotio.Frontend.ViewModel.MyReports.ValueRef'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Spotio.Frontend.ViewModel.Exports.ExportIdDto'
            application/json:
              schema:
                $ref: '#/components/schemas/Spotio.Frontend.ViewModel.Exports.ExportIdDto'
            text/json:
              schema:
                $ref: '#/components/schemas/Spotio.Frontend.ViewModel.Exports.ExportIdDto'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            text/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            text/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
      security:
      - Bearer: []
      servers:
      - url: https://api.spotio2.com
        description: Production
      - url: https://app-test.spotio2.com
        description: Test
components:
  schemas:
    Spotio.Frontend.ViewModel.Exports.ExportIdDto:
      type: object
      additionalProperties: false
      properties:
        id:
          type:
          - string
          - 'null'
          description: The ID of the export.
    Spotio.Reports.Client.MyReports.Types.CategoryTypeDto:
      type: string
      enum:
      - Reps
      - Managers
      - Teams
      - Territories
      - Records
      - Users
    Spotio.Frontend.ViewModel.MyReports.RenderedMyReportCategory:
      type: object
      additionalProperties: false
      properties:
        columns:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Spotio.Frontend.ViewModel.MyReports.Column'
    Spotio.Frontend.ViewModel.MyReports.ColumnRef:
      type: object
      additionalProperties: false
      properties:
        metricId:
          type:
          - string
          - 'null'
        dataObjectTypeId:
          type:
          - integer
          - 'null'
          format: int32
        stageId:
          type:
          - integer
          - 'null'
          format: int32
        activityTemplateId:
          type:
          - integer
          - 'null'
          format: int32
        direction:
          $ref: '#/components/schemas/Spotio.Reports.Client.MyReports.Filters.DirectionFilterValuesDto'
        state:
          $ref: '#/components/schemas/Spotio.Reports.Client.MyReports.Filters.StateFilterValuesDto'
        resultId:
          type:
          - integer
          - 'null'
          format: int32
        noResult:
          type:
          - boolean
          - 'null'
        dateFrom:
          type:
          - string
          - 'null'
          format: date-time
        dateTo:
          type:
          - string
          - 'null'
          format: date-time
        category:
          $ref: '#/components/schemas/Spotio.Reports.Client.MyReports.Filters.ActivityCategoryFilterValuesDto'
    Spotio.Infrastructure.Common.DataModel.Error.Error:
      type: object
      additionalProperties: false
      properties:
        errors:
          readOnly: true
    Spotio.Frontend.ViewModel.MyReports.Metric:
      type: object
      additionalProperties: false
      properties:
        id:
          type:
          - string
          - 'null'
        type:
          $ref: '#/components/schemas/Spotio.Reports.Client.MyReports.Types.MetricTypeDto'
        position:
          type: integer
          format: int32
        title:
          type:
          - string
          - 'null'
        settings:
          $ref: '#/components/schemas/Spotio.Frontend.ViewModel.MyReports.Metric%2BMetricSettings'
    Spotio.Reports.Client.MyReports.Filters.DirectionFilterValuesDto:
      type: string
      enum:
      - Inbound
      - Outbound
      - Unknown
    Spotio.Reports.Client.MyReports.Filters.UserFilterFieldDto:
      type: string
      enum:
      - ActivityCreatedBy
      - ActivityAssignedTo
      - DataObjectCreatedBy
      - DataObjectAssignedTo
    Spotio.Frontend.ViewModel.MyReports.MyReportForList:
      type: object
      additionalProperties: false
      properties:
        id:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        type:
          $ref: '#/components/schemas/Spotio.Frontend.ViewModel.MyReports.MyReportType'
        isDefault:
          type:
          - boolean
          - 'null'
        description:
          type:
          - string
          - 'null'
    Spotio.Reports.Client.MyReports.Types.DefaultDatesDto:
      type: string
      enum:
      - Today
      - ThisWeek
      - LastWeek
      - ThisMonth
      - LastMonth
      - ThisQuarter
      - LastQuarter
      - ThisYear
      - LastYear
      - All
      - Yesterday
      - Custom
      - ThisWorkWeek
      - LastWorkWeek
    Spotio.Frontend.ViewModel.MyReports.VisibilitySettings:
      type: object
      additionalProperties: false
      properties:
        teamsIds:
          type:
          - array
          - 'null'
          items:
            type: string
        territoriesIds:
          type:
          - array
          - 'null'
          items:
            type: string
        usersIds:
          type:
          - array
          - 'null'
          items:
            type: string
    Spotio.Reports.Client.MyReports.Filters.ActivityCategoryFilterValuesDto:
      type: string
      enum:
      - InPerson
      - Virtual
    Spotio.Frontend.ViewModel.MyReports.RenderedMyReport:
      type: object
      additionalProperties: false
      properties:
        id:
          type:
          - string
          - 'null'
          description: The ID of the rendered report.
        title:
          type:
          - string
          - 'null'
          description: The title of the rendered report.
        description:
          type:
          - string
          - 'null'
          description: The description of the rendered report.
        filterId:
          type:
          - string
          - 'null'
          description: The ID of the filter used to generate the report.
        categories:
          type:
          - array
          - 'null'
          description: The categories included in the rendered report.
          items:
            $ref: '#/components/schemas/Spotio.Frontend.ViewModel.MyReports.RenderedMyReportCategory'
        dataObjectTypeId:
          type:
          - string
          - 'null'
          description: The ID of the data object type the report was generated for.
        dataObjectTypeIds:
          type:
          - array
          - 'null'
          description: The list of IDs of the data object types to associate from workflow settings
          items:
            type: string
        visibility:
          $ref: '#/components/schemas/Spotio.Reports.Client.MyReports.MyReportVisibilityDto'
        scrollId:
          type:
          - string
          - 'null'
          description: Cursor for pagination (next page)
        isSortable:
          type: boolean
          description: The information if the report is sortable by backend
        visibilitySettings:
          $ref: '#/components/schemas/Spotio.Frontend.ViewModel.MyReports.VisibilitySettings'
    Spotio.Frontend.ViewModel.MyReports.Group:
      type: object
      additionalProperties: false
      properties:
        label:
          type:
          - string
          - 'null'
          description: The label for this group.
        values:
          type:
          - array
          - 'null'
          description: The values in this group.
          items:
            $ref: '#/components/schemas/Spotio.Frontend.ViewModel.MyReports.GroupValue'
        columnRef:
          $ref: '#/components/schemas/Spotio.Frontend.ViewModel.MyReports.ColumnRef'
        isSortable:
          type: boolean
    Spotio.Frontend.ViewModel.MyReports.ValueRef:
      type: object
      additionalProperties: false
      properties:
        id:
          type:
          - string
          - 'null'
          description: The ID of this value reference.
        idType:
          $ref: '#/components/schemas/Spotio.Reports.Client.MyReports.IdTypeDto'
        groupId:
          type:
          - string
          - 'null'
          description: The group ID of this value reference.
        groupIdType:
          $ref: '#/components/schemas/Spotio.Reports.Client.MyReports.IdTypeDto'
        metricId:
          type:
          - string
          - 'null'
          description: The metric ID of this value reference.
        dataObjectTypeId:
          type:
          - string
          - 'null'
          description: The data object type ID of this value reference.
        stageId:
          type:
          - string
          - 'null'
          description: The stage ID of this value reference.
        activityTemplateId:
          type:
          - string
          - 'null'
          description: The activity template ID of this value reference.
        direction:
          $ref: '#/components/schemas/Spotio.Reports.Client.MyReports.Filters.DirectionFilterValuesDto'
        state:
          $ref: '#/components/schemas/Spotio.Reports.Client.MyReports.Filters.StateFilterValuesDto'
        resultId:
          type:
          - string
          - 'null'
          description: The result ID of this value reference.
        noResult:
          type:
          - boolean
          - 'null'
          description: Whether or not there is no result for this value reference.
        dateFrom:
          type:
          - string
          - 'null'
          description: The start date for this value reference.
          format: date-time
        dateTo:
          type:
          - string
          - 'null'
          description: The end date for this value reference.
          format: date-time
        category:
          $ref: '#/components/schemas/Spotio.Reports.Client.MyReports.Filters.ActivityCategoryFilterValuesDto'
    Spotio.Frontend.ViewModel.MyReports.SortByColumn:
      type: object
      additionalProperties: false
      properties:
        columnRef:
          $ref: '#/components/schemas/Spotio.Frontend.ViewModel.MyReports.ColumnRef'
        asc:
          type: boolean
    Spotio.Reports.Client.MyReports.MyReportVisibilityDto:
      type: string
      enum:
      - Private
      - Public
      - ByRole
      - ByTeam
      - ByTerritory
      - ByUser
    Spotio.Frontend.ViewModel.MyReports.CategoriesWithMetrics:
      type: object
      additionalProperties: false
      properties:
        categories:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Spotio.Frontend.ViewModel.MyReports.Category'
        metrics:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Spotio.Frontend.ViewModel.MyReports.Metric'
    Spotio.Frontend.ViewModel.MyReports.MyReport:
      type: object
      description: The definition of a MyReport object.
      additionalProperties: false
      properties:
        title:
          type:
          - string
          - 'null'
          description: The title of the MyReport.
        description:
          type:
          - string
          - 'null'
          description: The description of the MyReport.
        categoriesWithMetrics:
          type:
          - array
          - 'null'
          description: The categories with metrics of the MyReport.
          items:
            $ref: '#/components/schemas/Spotio.Frontend.ViewModel.MyReports.CategoriesWithMetrics'
        includeInDailyWeeklyUpdates:
          type: boolean
          description: Whether to include the MyReport in daily or weekly updates.
        dataObjectTypeId:
          type:
          - string
          - 'null'
          description: The ID of the data object type to associate from workflow settings
        dataObjectTypeIds:
          type:
          - array
          - 'null'
          description: The list of IDs of the data object types to associate from workflow settings
          items:
            type: string
        visibility:
          $ref: '#/components/schemas/Spotio.Reports.Client.MyReports.MyReportVisibilityDto'
        defaultDate:
          $ref: '#/components/schemas/Spotio.Frontend.ViewModel.MyReports.DefaultDate'
        ownerId:
          type:
          - string
          - 'null'
          description: The id of my report owner.
        type:
          $ref: '#/components/schemas/Spotio.Frontend.ViewModel.MyReports.MyReportType'
        defaultMetric:
          type:
          - string
          - 'null'
        isDefault:
          type:
          - boolean
          - 'null'
          description: The id of my report owner.
        visibilitySettings:
          $ref: '#/components/schemas/Spotio.Frontend.ViewModel.MyReports.VisibilitySettings'
    Spotio.Reports.Client.MyReports.Types.MetricTypeDto:
      type: string
      enum:
      - Activities
      - Stages
      - Calculation
    Spotio.Frontend.ViewModel.MyReports.Category:
      type: object
      additionalProperties: false
      properties:
        title:
          type:
          - string
          - 'null'
        type:
          $ref: '#/components/schemas/Spotio.Reports.Client.MyReports.Types.CategoryTypeDto'
        settings:
          $ref: '#/components/schemas/Spotio.Frontend.ViewModel.MyReports.Category%2BCategorySettings'
    Spotio.Reports.Client.MyReports.Filters.DateFilterFieldDto:
      type: string
      enum:
      - CreatedOn
      - DueDate
      - CompletedOn
    Spotio.Frontend.ViewModel.MyReports.MyReportType:
      type: string
      enum:
      - MyReport
      - Leaderboard
    Spotio.Reports.Client.MyReports.Filters.StateFilterValuesDto:
      type: string
      enum:
      - Scheduled
      - Done
    Spotio.Frontend.ViewModel.MyReports.Column:
      type: object
      additionalProperties: false
      properties:
        header:
          type:
          - string
          - 'null'
          description: The header for this column.
        groups:
          type:
          - array
          - 'null'
          description: The groups in this column.
          items:
            $ref: '#/components/schemas/Spotio.Frontend.ViewModel.MyReports.Group'
        dateFilterField:
          $ref: '#/components/schemas/Spotio.Reports.Client.MyReports.Filters.DateFilterFieldDto'
        userFilterField:
          $ref: '#/components/schemas/Spotio.Reports.Client.MyReports.Filters.UserFilterFieldDto'
    Spotio.Frontend.ViewModel.MyReports.GroupValue:
      type: object
      additionalProperties: false
      properties:
        value:
          type:
          - string
          - 'null'
          description: The value for this group.
        important:
          type: boolean
          description: Whether or not this value is important.
        isTotal:
          type: boolean
          description: Whether or not this value is a total.
        level:
          type:
          - string
          - 'null'
          description: The level of this value.
        summary:
          type: boolean
          description: Indicates if the group is a summary.
        valueRef:
          $ref: '#/components/schemas/Spotio.Frontend.ViewModel.MyReports.ValueRef'
    Spotio.Frontend.ViewModel.MyReports.RenderReportRequestDto:
      type: object
      additionalProperties: false
      properties:
        sortByColumn:
          $ref: '#/components/schemas/Spotio.Frontend.ViewModel.MyReports.SortByColumn'
    Spotio.Frontend.ViewModel.MyReports.DefaultDate:
      type: object
      additionalProperties: false
      properties:
        dateRange:
          $ref: '#/components/schemas/Spotio.Reports.Client.MyReports.Types.DefaultDatesDto'
        startDate:
          type:
          - string
          - 'null'
          format: date-time
        endDate:
          type:
          - string
          - 'null'
          format: date-time
    Spotio.Frontend.ViewModel.MyReports.MyReportResponse:
      type: object
      description: The definition of a MyReport object.
      additionalProperties: false
      properties:
        id:
          type:
          - string
          - 'null'
        editable:
          type: boolean
          description: Can edit the report.
        deletable:
          type: boolean
          description: Can delete the report..
        title:
          type:
          - string
          - 'null'
          description: The title of the MyReport.
        description:
          type:
          - string
          - 'null'
          description: The description of the MyReport.
        categoriesWithMetrics:
          type:
          - array
          - 'null'
          description: The categories with metrics of the MyReport.
          items:
            $ref: '#/components/schemas/Spotio.Frontend.ViewModel.MyReports.CategoriesWithMetrics'
        includeInDailyWeeklyUpdates:
          type: boolean
          description: Whether to include the MyReport in daily or weekly updates.
        dataObjectTypeId:
          type:
          - string
          - 'null'
          description: The ID of the data object type to associate from workflow settings
        dataObjectTypeIds:
          type:
          - array
          - 'null'
          description: The list of IDs of the data object types to associate from workflow settings
          items:
            type: string
        visibility:
          $ref: '#/components/schemas/Spotio.Reports.Client.MyReports.MyReportVisibilityDto'
        defaultDate:
          $ref: '#/components/schemas/Spotio.Frontend.ViewModel.MyReports.DefaultDate'
        ownerId:
          type:
          - string
          - 'null'
          description: The id of my report owner.
        type:
          $ref: '#/components/schemas/Spotio.Frontend.ViewModel.MyReports.MyReportType'
        defaultMetric:
          type:
          - string
          - 'null'
        isDefault:
          type:
          - boolean
          - 'null'
          description: The id of my report owner.
        visibilitySettings:
          $ref: '#/components/schemas/Spotio.Frontend.ViewModel.MyReports.VisibilitySettings'
    Spotio.Frontend.ViewModel.MyReports.PreviewReportRequestDto:
      type: object
      additionalProperties: false
      properties:
        categoriesWithMetrics:
          type:
          - array
          - 'null'
          description: The categories with metrics of the MyReport.
          items:
            $ref: '#/components/schemas/Spotio.Frontend.ViewModel.MyReports.CategoriesWithMetrics'
        dataObjectTypeId:
          type:
          - string
          - 'null'
          description: The ID of the data object type to associate from workflow settings
        dataObjectTypeIds:
          type:
          - array
          - 'null'
          description: The list of IDs of the data object types to associate from workflow settings
          items:
            type: string
        defaultDate:
          $ref: '#/components/schemas/Spotio.Frontend.ViewModel.MyReports.DefaultDate'
        sortByColumn:
          $ref: '#/components/schemas/Spotio.Frontend.ViewModel.MyReports.SortByColumn'
    Spotio.Reports.Client.MyReports.IdTypeDto:
      type: string
      enum:
      - Territory
      - User
      - Team
      - Record
  securitySchemes:
    Bearer:
      type: apiKey
      description: 'Enter the Bearer Authorization string as following: `Bearer Generated-JWT-Token`'
      name: Authorization
      in: header
