openapi: 3.2.0
info:
  version: v1
  title: Spotio 2.0 Upload Care API
  description: Handles file upload operations
  contact:
    name: Contact us
    url: https://spotio.com/contact/
    email: support@spotio.com
servers:
- url: https://api.spotio2.com
  description: Production
- url: https://app-test.spotio2.com
  description: Test
security:
- Bearer: []
tags:
- name: UploadCare
  description: Handles file upload operations
paths:
  /api/UploadCare/signature:
    get:
      tags:
      - UploadCare
      summary: Get upload signature
      description: "\"Generates a time-limited signature for secure file uploads to SPOTIO storage .\n                After getting the response upload file like this (provide your file, and use response data):\n                curl -F \"UPLOADCARE_PUB_KEY=response.publicKey\" \\\n                     -F \"signature=response.signature\" \\\n                     -F \"expire=response.expire\" \\\n                     -F \"file=@yourfile.jpg\" \\\n                     \"response.uploadUrl\"\n                Curl request is going to return: uploadResponse = { file: string },\n                to build url to the file that will be accepted by spotio, use:\n                `${response.cdnUrl}/${uploadResponse.file}/`\n            \""
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Spotio.Frontend.ViewModel.UploadCare.UploadSignatureResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/Spotio.Frontend.ViewModel.UploadCare.UploadSignatureResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/Spotio.Frontend.ViewModel.UploadCare.UploadSignatureResponse'
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            text/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
        '401':
          description: Unauthorized
        '500':
          description: Server Error
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            text/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
      security:
      - Bearer: []
      servers:
      - url: https://api.spotio2.com
        description: Production
      - url: https://app-test.spotio2.com
        description: Test
components:
  schemas:
    Spotio.Frontend.ViewModel.UploadCare.UploadSignatureResponse:
      type: object
      additionalProperties: false
      properties:
        expire:
          type: integer
          format: int64
        signature:
          type:
          - string
          - 'null'
        uploadUrl:
          type:
          - string
          - 'null'
        publicKey:
          type:
          - string
          - 'null'
        cdnUrl:
          type:
          - string
          - 'null'
    Spotio.Infrastructure.Common.DataModel.Error.Error:
      type: object
      additionalProperties: false
      properties:
        errors:
          readOnly: true
  securitySchemes:
    Bearer:
      type: apiKey
      description: 'Enter the Bearer Authorization string as following: `Bearer Generated-JWT-Token`'
      name: Authorization
      in: header
