openapi: 3.2.0
info:
  version: v1
  title: Spotio 2.0 Workflow Activity Templates API
  description: "    Activity templates are used to define type of activities in the system.\n    To create activity from the activity template refer to the ActivitiesController.\n    Each activity template can have multiple activity results which can assigned in the moment of completing the activity."
  contact:
    name: Contact us
    url: https://spotio.com/contact/
    email: support@spotio.com
servers:
- url: https://api.spotio2.com
  description: Production
- url: https://app-test.spotio2.com
  description: Test
security:
- Bearer: []
tags:
- name: WorkflowActivityTemplates
  description: "    Activity templates are used to define type of activities in the system.\n    To create activity from the activity template refer to the ActivitiesController.\n    Each activity template can have multiple activity results which can assigned in the moment of completing the activity."
paths:
  /api/workflow/activityTemplates:
    get:
      tags:
      - WorkflowActivityTemplates
      summary: Get activity templates list
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Spotio.Frontend.ViewModel.Workflow.ActivityTemplates.ActivityTemplate'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Spotio.Frontend.ViewModel.Workflow.ActivityTemplates.ActivityTemplate'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Spotio.Frontend.ViewModel.Workflow.ActivityTemplates.ActivityTemplate'
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            text/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
        '401':
          description: Unauthorized
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            text/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            text/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
      security:
      - Bearer: []
      servers:
      - url: https://api.spotio2.com
        description: Production
      - url: https://app-test.spotio2.com
        description: Test
    post:
      tags:
      - WorkflowActivityTemplates
      summary: Create new activity template
      requestBody:
        content:
          application/merge-patch+json:
            schema:
              $ref: '#/components/schemas/Spotio.Frontend.ViewModel.Workflow.ActivityTemplates.ActivityTemplateCreateRequest'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Spotio.Frontend.ViewModel.Workflow.ActivityTemplates.ActivityTemplateCreateRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/Spotio.Frontend.ViewModel.Workflow.ActivityTemplates.ActivityTemplateCreateRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/Spotio.Frontend.ViewModel.Workflow.ActivityTemplates.ActivityTemplateCreateRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Spotio.Frontend.ViewModel.Workflow.ActivityTemplates.ActivityTemplateCreateRequest'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Spotio.Frontend.ViewModel.Workflow.ActivityTemplates.ActivityTemplate'
            application/json:
              schema:
                $ref: '#/components/schemas/Spotio.Frontend.ViewModel.Workflow.ActivityTemplates.ActivityTemplate'
            text/json:
              schema:
                $ref: '#/components/schemas/Spotio.Frontend.ViewModel.Workflow.ActivityTemplates.ActivityTemplate'
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            text/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
        '401':
          description: Unauthorized
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            text/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            text/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
      security:
      - Bearer: []
      servers:
      - url: https://api.spotio2.com
        description: Production
      - url: https://app-test.spotio2.com
        description: Test
  /api/workflow/activityTemplates/{id}:
    put:
      tags:
      - WorkflowActivityTemplates
      summary: Update activity template
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/merge-patch+json:
            schema:
              $ref: '#/components/schemas/Spotio.Frontend.ViewModel.Workflow.ActivityTemplates.ActivityTemplateUpdateRequest'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Spotio.Frontend.ViewModel.Workflow.ActivityTemplates.ActivityTemplateUpdateRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/Spotio.Frontend.ViewModel.Workflow.ActivityTemplates.ActivityTemplateUpdateRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/Spotio.Frontend.ViewModel.Workflow.ActivityTemplates.ActivityTemplateUpdateRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Spotio.Frontend.ViewModel.Workflow.ActivityTemplates.ActivityTemplateUpdateRequest'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Spotio.Frontend.ViewModel.Workflow.ActivityTemplates.ActivityTemplate'
            application/json:
              schema:
                $ref: '#/components/schemas/Spotio.Frontend.ViewModel.Workflow.ActivityTemplates.ActivityTemplate'
            text/json:
              schema:
                $ref: '#/components/schemas/Spotio.Frontend.ViewModel.Workflow.ActivityTemplates.ActivityTemplate'
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            text/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
        '401':
          description: Unauthorized
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            text/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            text/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
      security:
      - Bearer: []
      servers:
      - url: https://api.spotio2.com
        description: Production
      - url: https://app-test.spotio2.com
        description: Test
    delete:
      tags:
      - WorkflowActivityTemplates
      summary: Delete activity template
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            text/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
        '401':
          description: Unauthorized
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            text/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
            text/json:
              schema:
                $ref: '#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error'
      security:
      - Bearer: []
      servers:
      - url: https://api.spotio2.com
        description: Production
      - url: https://app-test.spotio2.com
        description: Test
components:
  schemas:
    Spotio.Frontend.ViewModel.Workflow.ActivityTemplates.ActivityResult:
      type: object
      additionalProperties: false
      properties:
        id:
          type:
          - string
          - 'null'
          description: Unique identifier of the activity result
        name:
          type:
          - string
          - 'null'
          description: Name of the activity result
        color:
          type:
          - string
          - 'null'
          description: Color for the activity result
        active:
          type: boolean
          description: Indicates if the activity result is active
        isSystem:
          type: boolean
          description: Describes if the result is of system type
    Spotio.Frontend.ViewModel.Workflow.ActivityTemplates.ActivityResultCreateRequest:
      type: object
      additionalProperties: false
      properties:
        name:
          type:
          - string
          - 'null'
          description: Name of the activity result
        color:
          type:
          - string
          - 'null'
          description: Color of the activity result
        active:
          type: boolean
          description: Whether the activity result is active or not
    Spotio.Frontend.ViewModel.Workflow.ActivityTemplates.ActivityTemplateRequiredFields:
      type: object
      additionalProperties: false
      properties:
        dataObjectTypeId:
          type:
          - string
          - 'null'
        fieldIds:
          type:
          - array
          - 'null'
          items:
            type: string
    Spotio.Frontend.ViewModel.Workflow.ActivityTemplates.ActivityTemplateCreateRequest:
      type: object
      additionalProperties: false
      properties:
        index:
          type: integer
          description: The index of the activity template
          format: int32
        name:
          type:
          - string
          - 'null'
          description: The name of the activity template
        defaultDuration:
          type:
          - integer
          - 'null'
          description: The default duration of the activity template, optional for Task
          format: int32
        active:
          type: boolean
          description: Whether the activity template is active or not
        activityResults:
          type:
          - array
          - 'null'
          description: Array of results that can be assigned to this activity
          items:
            $ref: '#/components/schemas/Spotio.Frontend.ViewModel.Workflow.ActivityTemplates.ActivityResultCreateRequest'
        type:
          $ref: '#/components/schemas/Spotio.CompanySettings.Client.DTO.Workflow.ActivityTypeDto'
        category:
          $ref: '#/components/schemas/Spotio.CompanySettings.Client.DTO.Workflow.ActivityCategoryDto'
    Spotio.CompanySettings.Contract.DTO.Activities.SystemRole:
      type: string
      enum:
      - Note
      - Visit
      - Call
      - Email
      - Text
      - Appointment
      - BusinessCard
      - OptInText
      - RecordSummary
      - RecordMerge
    Spotio.CompanySettings.Client.DTO.Workflow.ActivityCategoryDto:
      type: string
      enum:
      - InPerson
      - Virtual
    Spotio.Frontend.ViewModel.Workflow.ActivityTemplates.ActivityResultRequest:
      type: object
      additionalProperties: false
      properties:
        id:
          type:
          - string
          - 'null'
          description: Id of result to update if not specified it creates new
        name:
          type:
          - string
          - 'null'
          description: Name of the activity result
        color:
          type:
          - string
          - 'null'
          description: Color of the activity result
        active:
          type: boolean
          description: Whether the activity result is active or not
    Spotio.CompanySettings.Client.DTO.Workflow.ActivityTypeDto:
      type: string
      enum:
      - Event
      - Task
    Spotio.Infrastructure.Common.DataModel.Error.Error:
      type: object
      additionalProperties: false
      properties:
        errors:
          readOnly: true
    Spotio.Frontend.ViewModel.Workflow.ActivityTemplates.ActivityTemplateUpdateRequest:
      type: object
      additionalProperties: false
      properties:
        index:
          type: integer
          description: Index of the activity
          format: int32
        name:
          type:
          - string
          - 'null'
          description: Name of the activity
        defaultDuration:
          type:
          - integer
          - 'null'
          description: Default duration of the activity in minutes, optional for Task
          format: int32
        active:
          type: boolean
          description: Specifies if the activity is active or not
        activityResults:
          type:
          - array
          - 'null'
          description: Array of results that can be assigned to this activity
          items:
            $ref: '#/components/schemas/Spotio.Frontend.ViewModel.Workflow.ActivityTemplates.ActivityResultRequest'
        category:
          $ref: '#/components/schemas/Spotio.CompanySettings.Client.DTO.Workflow.ActivityCategoryDto'
    Spotio.Frontend.ViewModel.Workflow.ActivityTemplates.ActivityTemplate:
      type: object
      additionalProperties: false
      properties:
        id:
          type:
          - string
          - 'null'
          description: Unique identifier of the activity template
        name:
          type:
          - string
          - 'null'
          description: Name of the activity template
        defaultDuration:
          type: integer
          description: Default duration of the activity in minutes
          format: int32
        active:
          type: boolean
          description: Indicates if the activity template is active
        primaryColor:
          type:
          - string
          - 'null'
          description: Primary color for the activity template
        secondaryColor:
          type:
          - string
          - 'null'
          description: Secondary color for the activity template
        creatable:
          type: boolean
          description: Determines whether activity of this type is creatable
        systemRole:
          $ref: '#/components/schemas/Spotio.CompanySettings.Contract.DTO.Activities.SystemRole'
        activityResults:
          type:
          - array
          - 'null'
          description: Array of results that can be assigned to this activity
          items:
            $ref: '#/components/schemas/Spotio.Frontend.ViewModel.Workflow.ActivityTemplates.ActivityResult'
        type:
          $ref: '#/components/schemas/Spotio.CompanySettings.Client.DTO.Workflow.ActivityTypeDto'
        category:
          $ref: '#/components/schemas/Spotio.CompanySettings.Client.DTO.Workflow.ActivityCategoryDto'
        requiredFields:
          type:
          - array
          - 'null'
          description: Required fields for the activity template based on integrations
          items:
            $ref: '#/components/schemas/Spotio.Frontend.ViewModel.Workflow.ActivityTemplates.ActivityTemplateRequiredFields'
  securitySchemes:
    Bearer:
      type: apiKey
      description: 'Enter the Bearer Authorization string as following: `Bearer Generated-JWT-Token`'
      name: Authorization
      in: header
