{
  "openapi": "3.0.1",
  "info": {
    "version": "v1",
    "title": "Spotio 2.0",
    "description": "",
    "contact": {
      "name": "Contact us",
      "url": "https://spotio.com/contact/",
      "email": "support@spotio.com"
    }
  },
  "servers": [
    {
      "url": "https://api.spotio2.com",
      "description": "Production"
    },
    {
      "url": "https://app-test.spotio2.com",
      "description": "Test"
    }
  ],
  "paths": {
    "/api/v2/activities": {
      "post": {
        "tags": [
          "ActivitiesV2"
        ],
        "summary": "Create a new activity",
        "description": "If activity isNote then duration and title and activityTemplateId are blank.",
        "requestBody": {
          "content": {
            "application/merge-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Spotio.Frontend.ViewModel.ActivityV2.ActivityRequest"
              },
              "examples": {
                "default": {
                  "value": {
                    "leadId": "61143db398995a00010d553b",
                    "dataObjectId": "61143db398995a00010d553b",
                    "type": "note",
                    "done": false,
                    "isNote": true,
                    "notes": "Notes from meetings",
                    "date": "2026-08-04T07:14:38.6801689+00:00",
                    "allDay": false
                  }
                }
              }
            },
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Spotio.Frontend.ViewModel.ActivityV2.ActivityRequest"
              },
              "examples": {
                "default": {
                  "value": {
                    "leadId": "61143db398995a00010d553b",
                    "dataObjectId": "61143db398995a00010d553b",
                    "type": "note",
                    "done": false,
                    "isNote": true,
                    "notes": "Notes from meetings",
                    "date": "2026-08-04T07:14:38.6801689+00:00",
                    "allDay": false
                  }
                }
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Spotio.Frontend.ViewModel.ActivityV2.ActivityRequest"
              },
              "examples": {
                "default": {
                  "value": {
                    "leadId": "61143db398995a00010d553b",
                    "dataObjectId": "61143db398995a00010d553b",
                    "type": "note",
                    "done": false,
                    "isNote": true,
                    "notes": "Notes from meetings",
                    "date": "2026-08-04T07:14:38.6801689+00:00",
                    "allDay": false
                  }
                }
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Spotio.Frontend.ViewModel.ActivityV2.ActivityRequest"
              },
              "examples": {
                "default": {
                  "value": {
                    "leadId": "61143db398995a00010d553b",
                    "dataObjectId": "61143db398995a00010d553b",
                    "type": "note",
                    "done": false,
                    "isNote": true,
                    "notes": "Notes from meetings",
                    "date": "2026-08-04T07:14:38.6801689+00:00",
                    "allDay": false
                  }
                }
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Spotio.Frontend.ViewModel.ActivityV2.ActivityRequest"
              },
              "examples": {
                "default": {
                  "value": {
                    "leadId": "61143db398995a00010d553b",
                    "dataObjectId": "61143db398995a00010d553b",
                    "type": "note",
                    "done": false,
                    "isNote": true,
                    "notes": "Notes from meetings",
                    "date": "2026-08-04T07:14:38.6801689+00:00",
                    "allDay": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Frontend.ViewModel.ActivityV2.ActivityResponse"
                },
                "examples": {
                  "default": {
                    "value": {
                      "id": "1",
                      "verified": true,
                      "mobileId": "8asf111f",
                      "leadId": "61143732f5bd3ab20f9c67d1",
                      "dataObjectId": "61143732f5bd3ab20f9c67d1",
                      "type": "note",
                      "done": false,
                      "activityLat": 38.19502,
                      "activityLng": -113.90625,
                      "leadLat": 38.19502,
                      "leadLng": -113.90625,
                      "transition": {
                        "fromStageId": "1",
                        "toStageId": "1"
                      },
                      "isNote": true,
                      "ownerChanged": {
                        "previousLeadOwnerId": "4082",
                        "newLeadOwnerId": "5000",
                        "previousDataObjectOwnerId": "4082",
                        "newDataObjectOwnerId": "5000"
                      },
                      "resultId": "2",
                      "direction": "in",
                      "email": "spotio@spotio.com",
                      "reference": "dsfoso123sadp",
                      "isRead": false,
                      "activityTemplateId": "a6vhAo3FG7t1",
                      "ownerId": "1",
                      "title": "Knock the door",
                      "notes": "My notes",
                      "date": "2026-08-03T07:14:38.6804261+00:00",
                      "duration": 15,
                      "durationSeconds": 900,
                      "allDay": false
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "415": {
            "description": "Client Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error"
                }
              }
            }
          },
          "422": {
            "description": "Client Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "servers": [
          {
            "url": "https://api.spotio2.com",
            "description": "Production"
          },
          {
            "url": "https://app-test.spotio2.com",
            "description": "Test"
          }
        ]
      }
    },
    "/api/ActivitiesV2": {
      "post": {
        "tags": [
          "ActivitiesV2"
        ],
        "summary": "Create a new activity",
        "description": "If activity isNote then duration and title and activityTemplateId are blank.",
        "requestBody": {
          "content": {
            "application/merge-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Spotio.Frontend.ViewModel.ActivityV2.ActivityRequest"
              },
              "examples": {
                "default": {
                  "value": {
                    "leadId": "61143db398995a00010d553b",
                    "dataObjectId": "61143db398995a00010d553b",
                    "type": "note",
                    "done": false,
                    "isNote": true,
                    "notes": "Notes from meetings",
                    "date": "2026-08-04T07:14:38.6852669+00:00",
                    "allDay": false
                  }
                }
              }
            },
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Spotio.Frontend.ViewModel.ActivityV2.ActivityRequest"
              },
              "examples": {
                "default": {
                  "value": {
                    "leadId": "61143db398995a00010d553b",
                    "dataObjectId": "61143db398995a00010d553b",
                    "type": "note",
                    "done": false,
                    "isNote": true,
                    "notes": "Notes from meetings",
                    "date": "2026-08-04T07:14:38.6852669+00:00",
                    "allDay": false
                  }
                }
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Spotio.Frontend.ViewModel.ActivityV2.ActivityRequest"
              },
              "examples": {
                "default": {
                  "value": {
                    "leadId": "61143db398995a00010d553b",
                    "dataObjectId": "61143db398995a00010d553b",
                    "type": "note",
                    "done": false,
                    "isNote": true,
                    "notes": "Notes from meetings",
                    "date": "2026-08-04T07:14:38.6852669+00:00",
                    "allDay": false
                  }
                }
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Spotio.Frontend.ViewModel.ActivityV2.ActivityRequest"
              },
              "examples": {
                "default": {
                  "value": {
                    "leadId": "61143db398995a00010d553b",
                    "dataObjectId": "61143db398995a00010d553b",
                    "type": "note",
                    "done": false,
                    "isNote": true,
                    "notes": "Notes from meetings",
                    "date": "2026-08-04T07:14:38.6852669+00:00",
                    "allDay": false
                  }
                }
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Spotio.Frontend.ViewModel.ActivityV2.ActivityRequest"
              },
              "examples": {
                "default": {
                  "value": {
                    "leadId": "61143db398995a00010d553b",
                    "dataObjectId": "61143db398995a00010d553b",
                    "type": "note",
                    "done": false,
                    "isNote": true,
                    "notes": "Notes from meetings",
                    "date": "2026-08-04T07:14:38.6852669+00:00",
                    "allDay": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Frontend.ViewModel.ActivityV2.ActivityResponse"
                },
                "examples": {
                  "default": {
                    "value": {
                      "id": "1",
                      "verified": true,
                      "mobileId": "8asf111f",
                      "leadId": "61143732f5bd3ab20f9c67d1",
                      "dataObjectId": "61143732f5bd3ab20f9c67d1",
                      "type": "note",
                      "done": false,
                      "activityLat": 38.19502,
                      "activityLng": -113.90625,
                      "leadLat": 38.19502,
                      "leadLng": -113.90625,
                      "transition": {
                        "fromStageId": "1",
                        "toStageId": "1"
                      },
                      "isNote": true,
                      "ownerChanged": {
                        "previousLeadOwnerId": "4082",
                        "newLeadOwnerId": "5000",
                        "previousDataObjectOwnerId": "4082",
                        "newDataObjectOwnerId": "5000"
                      },
                      "resultId": "2",
                      "direction": "in",
                      "email": "spotio@spotio.com",
                      "reference": "dsfoso123sadp",
                      "isRead": false,
                      "activityTemplateId": "a6vhAo3FG7t1",
                      "ownerId": "1",
                      "title": "Knock the door",
                      "notes": "My notes",
                      "date": "2026-08-03T07:14:38.6854614+00:00",
                      "duration": 15,
                      "durationSeconds": 900,
                      "allDay": false
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "415": {
            "description": "Client Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error"
                }
              }
            }
          },
          "422": {
            "description": "Client Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "servers": [
          {
            "url": "https://api.spotio2.com",
            "description": "Production"
          },
          {
            "url": "https://app-test.spotio2.com",
            "description": "Test"
          }
        ]
      }
    },
    "/api/v2/activities/{activityId}": {
      "put": {
        "tags": [
          "ActivitiesV2"
        ],
        "summary": "Update an existing activity",
        "description": "Only planned activity could be changed.",
        "parameters": [
          {
            "name": "activityId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/merge-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Spotio.Frontend.ViewModel.ActivityV2.ActivityRequest"
              }
            },
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Spotio.Frontend.ViewModel.ActivityV2.ActivityRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Spotio.Frontend.ViewModel.ActivityV2.ActivityRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Spotio.Frontend.ViewModel.ActivityV2.ActivityRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Spotio.Frontend.ViewModel.ActivityV2.ActivityRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Frontend.ViewModel.ActivityV2.ActivityResponse"
                },
                "examples": {
                  "default": {
                    "value": {
                      "id": "1",
                      "verified": true,
                      "mobileId": "8asf111f",
                      "leadId": "61143732f5bd3ab20f9c67d1",
                      "dataObjectId": "61143732f5bd3ab20f9c67d1",
                      "type": "note",
                      "done": false,
                      "activityLat": 38.19502,
                      "activityLng": -113.90625,
                      "leadLat": 38.19502,
                      "leadLng": -113.90625,
                      "transition": {
                        "fromStageId": "1",
                        "toStageId": "1"
                      },
                      "isNote": true,
                      "ownerChanged": {
                        "previousLeadOwnerId": "4082",
                        "newLeadOwnerId": "5000",
                        "previousDataObjectOwnerId": "4082",
                        "newDataObjectOwnerId": "5000"
                      },
                      "resultId": "2",
                      "direction": "in",
                      "email": "spotio@spotio.com",
                      "reference": "dsfoso123sadp",
                      "isRead": false,
                      "activityTemplateId": "a6vhAo3FG7t1",
                      "ownerId": "1",
                      "title": "Knock the door",
                      "notes": "My notes",
                      "date": "2026-08-03T07:14:38.6911825+00:00",
                      "duration": 15,
                      "durationSeconds": 900,
                      "allDay": false
                    }
                  }
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Frontend.ViewModel.ActivityV2.ActivityResponse"
                },
                "examples": {
                  "default": {
                    "value": {
                      "id": "1",
                      "verified": true,
                      "mobileId": "8asf111f",
                      "leadId": "61143732f5bd3ab20f9c67d1",
                      "dataObjectId": "61143732f5bd3ab20f9c67d1",
                      "type": "note",
                      "done": false,
                      "activityLat": 38.19502,
                      "activityLng": -113.90625,
                      "leadLat": 38.19502,
                      "leadLng": -113.90625,
                      "transition": {
                        "fromStageId": "1",
                        "toStageId": "1"
                      },
                      "isNote": true,
                      "ownerChanged": {
                        "previousLeadOwnerId": "4082",
                        "newLeadOwnerId": "5000",
                        "previousDataObjectOwnerId": "4082",
                        "newDataObjectOwnerId": "5000"
                      },
                      "resultId": "2",
                      "direction": "in",
                      "email": "spotio@spotio.com",
                      "reference": "dsfoso123sadp",
                      "isRead": false,
                      "activityTemplateId": "a6vhAo3FG7t1",
                      "ownerId": "1",
                      "title": "Knock the door",
                      "notes": "My notes",
                      "date": "2026-08-03T07:14:38.6911825+00:00",
                      "duration": 15,
                      "durationSeconds": 900,
                      "allDay": false
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Frontend.ViewModel.ActivityV2.ActivityResponse"
                },
                "examples": {
                  "default": {
                    "value": {
                      "id": "1",
                      "verified": true,
                      "mobileId": "8asf111f",
                      "leadId": "61143732f5bd3ab20f9c67d1",
                      "dataObjectId": "61143732f5bd3ab20f9c67d1",
                      "type": "note",
                      "done": false,
                      "activityLat": 38.19502,
                      "activityLng": -113.90625,
                      "leadLat": 38.19502,
                      "leadLng": -113.90625,
                      "transition": {
                        "fromStageId": "1",
                        "toStageId": "1"
                      },
                      "isNote": true,
                      "ownerChanged": {
                        "previousLeadOwnerId": "4082",
                        "newLeadOwnerId": "5000",
                        "previousDataObjectOwnerId": "4082",
                        "newDataObjectOwnerId": "5000"
                      },
                      "resultId": "2",
                      "direction": "in",
                      "email": "spotio@spotio.com",
                      "reference": "dsfoso123sadp",
                      "isRead": false,
                      "activityTemplateId": "a6vhAo3FG7t1",
                      "ownerId": "1",
                      "title": "Knock the door",
                      "notes": "My notes",
                      "date": "2026-08-03T07:14:38.6911825+00:00",
                      "duration": 15,
                      "durationSeconds": 900,
                      "allDay": false
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "415": {
            "description": "Client Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error"
                }
              }
            }
          },
          "422": {
            "description": "Client Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "servers": [
          {
            "url": "https://api.spotio2.com",
            "description": "Production"
          },
          {
            "url": "https://app-test.spotio2.com",
            "description": "Test"
          }
        ]
      },
      "patch": {
        "tags": [
          "ActivitiesV2"
        ],
        "summary": "Activity patch",
        "description": "Partially update an existing activity",
        "parameters": [
          {
            "name": "activityId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/merge-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Spotio.Frontend.ViewModel.ActivityV2.ActivityRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Frontend.ViewModel.ActivityV2.ActivityResponse"
                },
                "examples": {
                  "default": {
                    "value": {
                      "id": "1",
                      "verified": true,
                      "mobileId": "8asf111f",
                      "leadId": "61143732f5bd3ab20f9c67d1",
                      "dataObjectId": "61143732f5bd3ab20f9c67d1",
                      "type": "note",
                      "done": false,
                      "activityLat": 38.19502,
                      "activityLng": -113.90625,
                      "leadLat": 38.19502,
                      "leadLng": -113.90625,
                      "transition": {
                        "fromStageId": "1",
                        "toStageId": "1"
                      },
                      "isNote": true,
                      "ownerChanged": {
                        "previousLeadOwnerId": "4082",
                        "newLeadOwnerId": "5000",
                        "previousDataObjectOwnerId": "4082",
                        "newDataObjectOwnerId": "5000"
                      },
                      "resultId": "2",
                      "direction": "in",
                      "email": "spotio@spotio.com",
                      "reference": "dsfoso123sadp",
                      "isRead": false,
                      "activityTemplateId": "a6vhAo3FG7t1",
                      "ownerId": "1",
                      "title": "Knock the door",
                      "notes": "My notes",
                      "date": "2026-08-03T07:14:38.6988552+00:00",
                      "duration": 15,
                      "durationSeconds": 900,
                      "allDay": false
                    }
                  }
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Frontend.ViewModel.ActivityV2.ActivityResponse"
                },
                "examples": {
                  "default": {
                    "value": {
                      "id": "1",
                      "verified": true,
                      "mobileId": "8asf111f",
                      "leadId": "61143732f5bd3ab20f9c67d1",
                      "dataObjectId": "61143732f5bd3ab20f9c67d1",
                      "type": "note",
                      "done": false,
                      "activityLat": 38.19502,
                      "activityLng": -113.90625,
                      "leadLat": 38.19502,
                      "leadLng": -113.90625,
                      "transition": {
                        "fromStageId": "1",
                        "toStageId": "1"
                      },
                      "isNote": true,
                      "ownerChanged": {
                        "previousLeadOwnerId": "4082",
                        "newLeadOwnerId": "5000",
                        "previousDataObjectOwnerId": "4082",
                        "newDataObjectOwnerId": "5000"
                      },
                      "resultId": "2",
                      "direction": "in",
                      "email": "spotio@spotio.com",
                      "reference": "dsfoso123sadp",
                      "isRead": false,
                      "activityTemplateId": "a6vhAo3FG7t1",
                      "ownerId": "1",
                      "title": "Knock the door",
                      "notes": "My notes",
                      "date": "2026-08-03T07:14:38.6988552+00:00",
                      "duration": 15,
                      "durationSeconds": 900,
                      "allDay": false
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Frontend.ViewModel.ActivityV2.ActivityResponse"
                },
                "examples": {
                  "default": {
                    "value": {
                      "id": "1",
                      "verified": true,
                      "mobileId": "8asf111f",
                      "leadId": "61143732f5bd3ab20f9c67d1",
                      "dataObjectId": "61143732f5bd3ab20f9c67d1",
                      "type": "note",
                      "done": false,
                      "activityLat": 38.19502,
                      "activityLng": -113.90625,
                      "leadLat": 38.19502,
                      "leadLng": -113.90625,
                      "transition": {
                        "fromStageId": "1",
                        "toStageId": "1"
                      },
                      "isNote": true,
                      "ownerChanged": {
                        "previousLeadOwnerId": "4082",
                        "newLeadOwnerId": "5000",
                        "previousDataObjectOwnerId": "4082",
                        "newDataObjectOwnerId": "5000"
                      },
                      "resultId": "2",
                      "direction": "in",
                      "email": "spotio@spotio.com",
                      "reference": "dsfoso123sadp",
                      "isRead": false,
                      "activityTemplateId": "a6vhAo3FG7t1",
                      "ownerId": "1",
                      "title": "Knock the door",
                      "notes": "My notes",
                      "date": "2026-08-03T07:14:38.6988552+00:00",
                      "duration": 15,
                      "durationSeconds": 900,
                      "allDay": false
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "415": {
            "description": "Client Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error"
                }
              }
            }
          },
          "422": {
            "description": "Client Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "servers": [
          {
            "url": "https://api.spotio2.com",
            "description": "Production"
          },
          {
            "url": "https://app-test.spotio2.com",
            "description": "Test"
          }
        ]
      },
      "get": {
        "tags": [
          "ActivitiesV2"
        ],
        "summary": "Get activity by id",
        "description": "Fetch a single activity by its unique identifier.",
        "parameters": [
          {
            "name": "activityId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Frontend.ViewModel.ActivityV2.ActivityResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Frontend.ViewModel.ActivityV2.ActivityResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Frontend.ViewModel.ActivityV2.ActivityResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "servers": [
          {
            "url": "https://api.spotio2.com",
            "description": "Production"
          },
          {
            "url": "https://app-test.spotio2.com",
            "description": "Test"
          }
        ]
      }
    },
    "/api/ActivitiesV2/{activityId}": {
      "put": {
        "tags": [
          "ActivitiesV2"
        ],
        "summary": "Update an existing activity",
        "description": "Only planned activity could be changed.",
        "parameters": [
          {
            "name": "activityId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/merge-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Spotio.Frontend.ViewModel.ActivityV2.ActivityRequest"
              }
            },
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Spotio.Frontend.ViewModel.ActivityV2.ActivityRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Spotio.Frontend.ViewModel.ActivityV2.ActivityRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Spotio.Frontend.ViewModel.ActivityV2.ActivityRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Spotio.Frontend.ViewModel.ActivityV2.ActivityRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Frontend.ViewModel.ActivityV2.ActivityResponse"
                },
                "examples": {
                  "default": {
                    "value": {
                      "id": "1",
                      "verified": true,
                      "mobileId": "8asf111f",
                      "leadId": "61143732f5bd3ab20f9c67d1",
                      "dataObjectId": "61143732f5bd3ab20f9c67d1",
                      "type": "note",
                      "done": false,
                      "activityLat": 38.19502,
                      "activityLng": -113.90625,
                      "leadLat": 38.19502,
                      "leadLng": -113.90625,
                      "transition": {
                        "fromStageId": "1",
                        "toStageId": "1"
                      },
                      "isNote": true,
                      "ownerChanged": {
                        "previousLeadOwnerId": "4082",
                        "newLeadOwnerId": "5000",
                        "previousDataObjectOwnerId": "4082",
                        "newDataObjectOwnerId": "5000"
                      },
                      "resultId": "2",
                      "direction": "in",
                      "email": "spotio@spotio.com",
                      "reference": "dsfoso123sadp",
                      "isRead": false,
                      "activityTemplateId": "a6vhAo3FG7t1",
                      "ownerId": "1",
                      "title": "Knock the door",
                      "notes": "My notes",
                      "date": "2026-08-03T07:14:38.7081476+00:00",
                      "duration": 15,
                      "durationSeconds": 900,
                      "allDay": false
                    }
                  }
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Frontend.ViewModel.ActivityV2.ActivityResponse"
                },
                "examples": {
                  "default": {
                    "value": {
                      "id": "1",
                      "verified": true,
                      "mobileId": "8asf111f",
                      "leadId": "61143732f5bd3ab20f9c67d1",
                      "dataObjectId": "61143732f5bd3ab20f9c67d1",
                      "type": "note",
                      "done": false,
                      "activityLat": 38.19502,
                      "activityLng": -113.90625,
                      "leadLat": 38.19502,
                      "leadLng": -113.90625,
                      "transition": {
                        "fromStageId": "1",
                        "toStageId": "1"
                      },
                      "isNote": true,
                      "ownerChanged": {
                        "previousLeadOwnerId": "4082",
                        "newLeadOwnerId": "5000",
                        "previousDataObjectOwnerId": "4082",
                        "newDataObjectOwnerId": "5000"
                      },
                      "resultId": "2",
                      "direction": "in",
                      "email": "spotio@spotio.com",
                      "reference": "dsfoso123sadp",
                      "isRead": false,
                      "activityTemplateId": "a6vhAo3FG7t1",
                      "ownerId": "1",
                      "title": "Knock the door",
                      "notes": "My notes",
                      "date": "2026-08-03T07:14:38.7081476+00:00",
                      "duration": 15,
                      "durationSeconds": 900,
                      "allDay": false
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Frontend.ViewModel.ActivityV2.ActivityResponse"
                },
                "examples": {
                  "default": {
                    "value": {
                      "id": "1",
                      "verified": true,
                      "mobileId": "8asf111f",
                      "leadId": "61143732f5bd3ab20f9c67d1",
                      "dataObjectId": "61143732f5bd3ab20f9c67d1",
                      "type": "note",
                      "done": false,
                      "activityLat": 38.19502,
                      "activityLng": -113.90625,
                      "leadLat": 38.19502,
                      "leadLng": -113.90625,
                      "transition": {
                        "fromStageId": "1",
                        "toStageId": "1"
                      },
                      "isNote": true,
                      "ownerChanged": {
                        "previousLeadOwnerId": "4082",
                        "newLeadOwnerId": "5000",
                        "previousDataObjectOwnerId": "4082",
                        "newDataObjectOwnerId": "5000"
                      },
                      "resultId": "2",
                      "direction": "in",
                      "email": "spotio@spotio.com",
                      "reference": "dsfoso123sadp",
                      "isRead": false,
                      "activityTemplateId": "a6vhAo3FG7t1",
                      "ownerId": "1",
                      "title": "Knock the door",
                      "notes": "My notes",
                      "date": "2026-08-03T07:14:38.7081476+00:00",
                      "duration": 15,
                      "durationSeconds": 900,
                      "allDay": false
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "415": {
            "description": "Client Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error"
                }
              }
            }
          },
          "422": {
            "description": "Client Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "servers": [
          {
            "url": "https://api.spotio2.com",
            "description": "Production"
          },
          {
            "url": "https://app-test.spotio2.com",
            "description": "Test"
          }
        ]
      },
      "patch": {
        "tags": [
          "ActivitiesV2"
        ],
        "summary": "Activity patch",
        "description": "Partially update an existing activity",
        "parameters": [
          {
            "name": "activityId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/merge-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Spotio.Frontend.ViewModel.ActivityV2.ActivityRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Frontend.ViewModel.ActivityV2.ActivityResponse"
                },
                "examples": {
                  "default": {
                    "value": {
                      "id": "1",
                      "verified": true,
                      "mobileId": "8asf111f",
                      "leadId": "61143732f5bd3ab20f9c67d1",
                      "dataObjectId": "61143732f5bd3ab20f9c67d1",
                      "type": "note",
                      "done": false,
                      "activityLat": 38.19502,
                      "activityLng": -113.90625,
                      "leadLat": 38.19502,
                      "leadLng": -113.90625,
                      "transition": {
                        "fromStageId": "1",
                        "toStageId": "1"
                      },
                      "isNote": true,
                      "ownerChanged": {
                        "previousLeadOwnerId": "4082",
                        "newLeadOwnerId": "5000",
                        "previousDataObjectOwnerId": "4082",
                        "newDataObjectOwnerId": "5000"
                      },
                      "resultId": "2",
                      "direction": "in",
                      "email": "spotio@spotio.com",
                      "reference": "dsfoso123sadp",
                      "isRead": false,
                      "activityTemplateId": "a6vhAo3FG7t1",
                      "ownerId": "1",
                      "title": "Knock the door",
                      "notes": "My notes",
                      "date": "2026-08-03T07:14:38.7134724+00:00",
                      "duration": 15,
                      "durationSeconds": 900,
                      "allDay": false
                    }
                  }
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Frontend.ViewModel.ActivityV2.ActivityResponse"
                },
                "examples": {
                  "default": {
                    "value": {
                      "id": "1",
                      "verified": true,
                      "mobileId": "8asf111f",
                      "leadId": "61143732f5bd3ab20f9c67d1",
                      "dataObjectId": "61143732f5bd3ab20f9c67d1",
                      "type": "note",
                      "done": false,
                      "activityLat": 38.19502,
                      "activityLng": -113.90625,
                      "leadLat": 38.19502,
                      "leadLng": -113.90625,
                      "transition": {
                        "fromStageId": "1",
                        "toStageId": "1"
                      },
                      "isNote": true,
                      "ownerChanged": {
                        "previousLeadOwnerId": "4082",
                        "newLeadOwnerId": "5000",
                        "previousDataObjectOwnerId": "4082",
                        "newDataObjectOwnerId": "5000"
                      },
                      "resultId": "2",
                      "direction": "in",
                      "email": "spotio@spotio.com",
                      "reference": "dsfoso123sadp",
                      "isRead": false,
                      "activityTemplateId": "a6vhAo3FG7t1",
                      "ownerId": "1",
                      "title": "Knock the door",
                      "notes": "My notes",
                      "date": "2026-08-03T07:14:38.7134724+00:00",
                      "duration": 15,
                      "durationSeconds": 900,
                      "allDay": false
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Frontend.ViewModel.ActivityV2.ActivityResponse"
                },
                "examples": {
                  "default": {
                    "value": {
                      "id": "1",
                      "verified": true,
                      "mobileId": "8asf111f",
                      "leadId": "61143732f5bd3ab20f9c67d1",
                      "dataObjectId": "61143732f5bd3ab20f9c67d1",
                      "type": "note",
                      "done": false,
                      "activityLat": 38.19502,
                      "activityLng": -113.90625,
                      "leadLat": 38.19502,
                      "leadLng": -113.90625,
                      "transition": {
                        "fromStageId": "1",
                        "toStageId": "1"
                      },
                      "isNote": true,
                      "ownerChanged": {
                        "previousLeadOwnerId": "4082",
                        "newLeadOwnerId": "5000",
                        "previousDataObjectOwnerId": "4082",
                        "newDataObjectOwnerId": "5000"
                      },
                      "resultId": "2",
                      "direction": "in",
                      "email": "spotio@spotio.com",
                      "reference": "dsfoso123sadp",
                      "isRead": false,
                      "activityTemplateId": "a6vhAo3FG7t1",
                      "ownerId": "1",
                      "title": "Knock the door",
                      "notes": "My notes",
                      "date": "2026-08-03T07:14:38.7134724+00:00",
                      "duration": 15,
                      "durationSeconds": 900,
                      "allDay": false
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "415": {
            "description": "Client Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error"
                }
              }
            }
          },
          "422": {
            "description": "Client Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "servers": [
          {
            "url": "https://api.spotio2.com",
            "description": "Production"
          },
          {
            "url": "https://app-test.spotio2.com",
            "description": "Test"
          }
        ]
      },
      "get": {
        "tags": [
          "ActivitiesV2"
        ],
        "summary": "Get activity by id",
        "description": "Fetch a single activity by its unique identifier.",
        "parameters": [
          {
            "name": "activityId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Frontend.ViewModel.ActivityV2.ActivityResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Frontend.ViewModel.ActivityV2.ActivityResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Frontend.ViewModel.ActivityV2.ActivityResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "servers": [
          {
            "url": "https://api.spotio2.com",
            "description": "Production"
          },
          {
            "url": "https://app-test.spotio2.com",
            "description": "Test"
          }
        ]
      }
    },
    "/api/v2/activities/many": {
      "post": {
        "tags": [
          "ActivitiesV2"
        ],
        "summary": "Create multiple activities",
        "description": "Method allow create many activities at once.",
        "requestBody": {
          "content": {
            "application/merge-patch+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Spotio.Frontend.ViewModel.ActivityV2.ActivityRequest"
                }
              }
            },
            "application/json-patch+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Spotio.Frontend.ViewModel.ActivityV2.ActivityRequest"
                }
              }
            },
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Spotio.Frontend.ViewModel.ActivityV2.ActivityRequest"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Spotio.Frontend.ViewModel.ActivityV2.ActivityRequest"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Spotio.Frontend.ViewModel.ActivityV2.ActivityRequest"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "integer",
                    "format": "int32"
                  }
                },
                "examples": {
                  "default": {
                    "value": [
                      1241,
                      1242
                    ]
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "integer",
                    "format": "int32"
                  }
                },
                "examples": {
                  "default": {
                    "value": [
                      1241,
                      1242
                    ]
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "integer",
                    "format": "int32"
                  }
                },
                "examples": {
                  "default": {
                    "value": [
                      1241,
                      1242
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "415": {
            "description": "Client Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error"
                }
              }
            }
          },
          "422": {
            "description": "Client Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "servers": [
          {
            "url": "https://api.spotio2.com",
            "description": "Production"
          },
          {
            "url": "https://app-test.spotio2.com",
            "description": "Test"
          }
        ]
      }
    },
    "/api/ActivitiesV2/many": {
      "post": {
        "tags": [
          "ActivitiesV2"
        ],
        "summary": "Create multiple activities",
        "description": "Method allow create many activities at once.",
        "requestBody": {
          "content": {
            "application/merge-patch+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Spotio.Frontend.ViewModel.ActivityV2.ActivityRequest"
                }
              }
            },
            "application/json-patch+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Spotio.Frontend.ViewModel.ActivityV2.ActivityRequest"
                }
              }
            },
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Spotio.Frontend.ViewModel.ActivityV2.ActivityRequest"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Spotio.Frontend.ViewModel.ActivityV2.ActivityRequest"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Spotio.Frontend.ViewModel.ActivityV2.ActivityRequest"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "integer",
                    "format": "int32"
                  }
                },
                "examples": {
                  "default": {
                    "value": [
                      1241,
                      1242
                    ]
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "integer",
                    "format": "int32"
                  }
                },
                "examples": {
                  "default": {
                    "value": [
                      1241,
                      1242
                    ]
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "integer",
                    "format": "int32"
                  }
                },
                "examples": {
                  "default": {
                    "value": [
                      1241,
                      1242
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "415": {
            "description": "Client Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error"
                }
              }
            }
          },
          "422": {
            "description": "Client Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "servers": [
          {
            "url": "https://api.spotio2.com",
            "description": "Production"
          },
          {
            "url": "https://app-test.spotio2.com",
            "description": "Test"
          }
        ]
      }
    },
    "/api/v2/activities/feed": {
      "get": {
        "tags": [
          "ActivitiesV2"
        ],
        "summary": "Get activity feed",
        "description": "Fetch all activities which are done / completed for selected period, territory, time range.",
        "parameters": [
          {
            "name": "TerritoryId",
            "in": "query",
            "description": "The territory ID to filter activities",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "StartDate",
            "in": "query",
            "description": "The start date for filtering activities",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "EndDate",
            "in": "query",
            "description": "The end date for filtering activities",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "ScrollId",
            "in": "query",
            "description": "The scroll ID for pagination",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SortBy",
            "in": "query",
            "description": "The property to sort activities by. Order by descending required add '-' before parameter",
            "schema": {
              "type": "string",
              "enum": [
                "schedule",
                "-schedule",
                "time",
                "-time",
                "activity",
                "-activity",
                "status",
                "-status",
                "territory",
                "-territory",
                "address",
                "-address",
                "visitcount",
                "-visitcount",
                "callcount",
                "-callcount"
              ]
            }
          },
          {
            "name": "FilterId",
            "in": "query",
            "description": "The filter ID to apply to activities",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SingleType",
            "in": "query",
            "description": "The single dataObjectTypeId to filter by. Id from workflow settings.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "IncludeGhosts",
            "in": "query",
            "description": "Determine whether to include ghosts activities in the feed",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "IncludeCustomFieldIds",
            "in": "query",
            "description": "Custom field ids must be comma-separated \",\". Use an asterisk \"*\" to return all fields.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Frontend.Web.Helpers.ScrollResult%601%5B%5BSpotio.Frontend.ViewModel.Activity.V2.ActivityFeedDto%2C%20Spotio.Frontend.ViewModel%2C%20Version%3D1.0.0.0%2C%20Culture%3Dneutral%2C%20PublicKeyToken%3Dnull%5D%5D"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Frontend.Web.Helpers.ScrollResult%601%5B%5BSpotio.Frontend.ViewModel.Activity.V2.ActivityFeedDto%2C%20Spotio.Frontend.ViewModel%2C%20Version%3D1.0.0.0%2C%20Culture%3Dneutral%2C%20PublicKeyToken%3Dnull%5D%5D"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Frontend.Web.Helpers.ScrollResult%601%5B%5BSpotio.Frontend.ViewModel.Activity.V2.ActivityFeedDto%2C%20Spotio.Frontend.ViewModel%2C%20Version%3D1.0.0.0%2C%20Culture%3Dneutral%2C%20PublicKeyToken%3Dnull%5D%5D"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "servers": [
          {
            "url": "https://api.spotio2.com",
            "description": "Production"
          },
          {
            "url": "https://app-test.spotio2.com",
            "description": "Test"
          }
        ]
      }
    },
    "/api/ActivitiesV2/feed": {
      "get": {
        "tags": [
          "ActivitiesV2"
        ],
        "summary": "Get activity feed",
        "description": "Fetch all activities which are done / completed for selected period, territory, time range.",
        "parameters": [
          {
            "name": "TerritoryId",
            "in": "query",
            "description": "The territory ID to filter activities",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "StartDate",
            "in": "query",
            "description": "The start date for filtering activities",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "EndDate",
            "in": "query",
            "description": "The end date for filtering activities",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "ScrollId",
            "in": "query",
            "description": "The scroll ID for pagination",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SortBy",
            "in": "query",
            "description": "The property to sort activities by. Order by descending required add '-' before parameter",
            "schema": {
              "type": "string",
              "enum": [
                "schedule",
                "-schedule",
                "time",
                "-time",
                "activity",
                "-activity",
                "status",
                "-status",
                "territory",
                "-territory",
                "address",
                "-address",
                "visitcount",
                "-visitcount",
                "callcount",
                "-callcount"
              ]
            }
          },
          {
            "name": "FilterId",
            "in": "query",
            "description": "The filter ID to apply to activities",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SingleType",
            "in": "query",
            "description": "The single dataObjectTypeId to filter by. Id from workflow settings.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "IncludeGhosts",
            "in": "query",
            "description": "Determine whether to include ghosts activities in the feed",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "IncludeCustomFieldIds",
            "in": "query",
            "description": "Custom field ids must be comma-separated \",\". Use an asterisk \"*\" to return all fields.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Frontend.Web.Helpers.ScrollResult%601%5B%5BSpotio.Frontend.ViewModel.Activity.V2.ActivityFeedDto%2C%20Spotio.Frontend.ViewModel%2C%20Version%3D1.0.0.0%2C%20Culture%3Dneutral%2C%20PublicKeyToken%3Dnull%5D%5D"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Frontend.Web.Helpers.ScrollResult%601%5B%5BSpotio.Frontend.ViewModel.Activity.V2.ActivityFeedDto%2C%20Spotio.Frontend.ViewModel%2C%20Version%3D1.0.0.0%2C%20Culture%3Dneutral%2C%20PublicKeyToken%3Dnull%5D%5D"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Frontend.Web.Helpers.ScrollResult%601%5B%5BSpotio.Frontend.ViewModel.Activity.V2.ActivityFeedDto%2C%20Spotio.Frontend.ViewModel%2C%20Version%3D1.0.0.0%2C%20Culture%3Dneutral%2C%20PublicKeyToken%3Dnull%5D%5D"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "servers": [
          {
            "url": "https://api.spotio2.com",
            "description": "Production"
          },
          {
            "url": "https://app-test.spotio2.com",
            "description": "Test"
          }
        ]
      }
    },
    "/api/v2/appointments/{appointmentId}": {
      "get": {
        "tags": [
          "AppointmentsV2"
        ],
        "summary": "Get an appointment by ID",
        "description": "### Appointment id formats\n####  Single appointment \n* \"{Id}\"  -->   \"997\"\n####  Single appointment from recurring series (\"ghost\" appointment from future)\n*  \"{Id]-[RecurringDefinitionId}-{OriginalStartDate}\"  -->   \"0-5173-638186040000000000\"            \n",
        "parameters": [
          {
            "name": "appointmentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Frontend.ViewModel.Appointment.V2.AppointmentWithDataObject"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Frontend.ViewModel.Appointment.V2.AppointmentWithDataObject"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Frontend.ViewModel.Appointment.V2.AppointmentWithDataObject"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "415": {
            "description": "Client Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error"
                }
              }
            }
          },
          "422": {
            "description": "Client Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Infrastructure.Common.DataModel.Error.Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "servers": [
          {
            "url": "https://api.spotio2.com",
            "description": "Production"
          },
          {
            "url": "https://app-test.spotio2.com",
            "description": "Test"
          }
        ]
      },
      "put": {
        "tags": [
          "AppointmentsV2"
        ],
        "summary": "Update an existing appointment",
        "description": "### Appointment id formats\n####  Single appointment \n* \"{Id}\"  -->   \"997\"\n####  Single appointment from recurring series (\"ghost\" appointment from future)\n*  \"{Id]-[RecurringDefinitionId}-{OriginalStartDate}\"  -->   \"0-5173-638186040000000000\"            \n",
        "parameters": [
          {
            "name": "appointmentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/merge-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Spotio.Frontend.ViewModel.Appointment.V2.AppointmentV2Request"
              },
              "examples": {
                "default": {
                  "value": {
                    "dataObjectId": "6141d5853bf5da0001e891ee",
                    "ownerId": "2",
                    "date": "2026-08-03T07:14:38.9449667+00:00",
                    "duration": 60,
                    "title": "Talk about insurance",
                    "notes": "They want to buy",
                    "activityId": "2163003",
                    "allDay": false,
                    "done": false,
                    "recurringDefinition": {
                      "id": "304",
                      "periodicity": "hours",
                      "interval": 5,
                      "repeatOn": [
                        "monday",
                        "friday"
                      ],
                      "count": 5
                    },
                    "remindBeforeInSeconds": 3600,
                    "activityTemplateId": "4",
                    "intention": "allFromRecurring",
                    "originalStartDate": "2026-08-03T07:14:38.9449707+00:00"
                  }
                }
              }
            },
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Spotio.Frontend.ViewModel.Appointment.V2.AppointmentV2Request"
              },
              "examples": {
                "default": {
                  "value": {
                    "dataObjectId": "6141d5853bf5da0001e891ee",
                    "ownerId": "2",
                    "date": "2026-08-03T07:14:38.9449667+00:00",
                    "duration": 60,
                    "title": "Talk about insurance",
                    "notes": "They want to buy",
                    "activityId": "2163003",
                    "allDay": false,
                    "done": false,
                    "recurringDefinition": {
                      "id": "304",
                      "periodicity": "hours",
                      "interval": 5,
                      "repeatOn": [
                        "monday",
                        "friday"
                      ],
                      "count": 5
                    },
                    "remindBeforeInSeconds": 3600,
                    "activityTemplateId": "4",
                    "intention": "allFromRecurring",
                    "originalStartDate": "2026-08-03T07:14:38.9449707+00:00"
                  }
                }
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Spotio.Frontend.ViewModel.Appointment.V2.AppointmentV2Request"
              },
              "examples": {
                "default": {
                  "value": {
                    "dataObjectId": "6141d5853bf5da0001e891ee",
                    "ownerId": "2",
                    "date": "2026-08-03T07:14:38.9449667+00:00",
                    "duration": 60,
                    "title": "Talk about insurance",
                    "notes": "They want to buy",
                    "activityId": "2163003",
                    "allDay": false,
                    "done": false,
                    "recurringDefinition": {
                      "id": "304",
                      "periodicity": "hours",
                      "interval": 5,
                      "repeatOn": [
                        "monday",
                        "friday"
                      ],
                      "count": 5
                    },
                    "remindBeforeInSeconds": 3600,
                    "activityTemplateId": "4",
                    "intention": "allFromRecurring",
                    "originalStartDate": "2026-08-03T07:14:38.9449707+00:00"
                  }
                }
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Spotio.Frontend.ViewModel.Appointment.V2.AppointmentV2Request"
              },
              "examples": {
                "default": {
                  "value": {
                    "dataObjectId": "6141d5853bf5da0001e891ee",
                    "ownerId": "2",
                    "date": "2026-08-03T07:14:38.9449667+00:00",
                    "duration": 60,
                    "title": "Talk about insurance",
                    "notes": "They want to buy",
                    "activityId": "2163003",
                    "allDay": false,
                    "done": false,
                    "recurringDefinition": {
                      "id": "304",
                      "periodicity": "hours",
                      "interval": 5,
                      "repeatOn": [
                        "monday",
                        "friday"
                      ],
                      "count": 5
                    },
                    "remindBeforeInSeconds": 3600,
                    "activityTemplateId": "4",
                    "intention": "allFromRecurring",
                    "originalStartDate": "2026-08-03T07:14:38.9449707+00:00"
                  }
                }
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Spotio.Frontend.ViewModel.Appointment.V2.AppointmentV2Request"
              },
              "examples": {
                "default": {
                  "value": {
                    "dataObjectId": "6141d5853bf5da0001e891ee",
                    "ownerId": "2",
                    "date": "2026-08-03T07:14:38.9449667+00:00",
                    "duration": 60,
                    "title": "Talk about insurance",
                    "notes": "They want to buy",
                    "activityId": "2163003",
                    "allDay": false,
                    "done": false,
                    "recurringDefinition": {
                      "id": "304",
                      "periodicity": "hours",
                      "interval": 5,
                      "repeatOn": [
                        "monday",
                        "friday"
                      ],
                      "count": 5
                    },
                    "remindBeforeInSeconds": 3600,
                    "activityTemplateId": "4",
                    "intention": "allFromRecurring",
                    "originalStartDate": "2026-08-03T07:14:38.9449707+00:00"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Spotio.Frontend.ViewModel.Appointment.V2.AppointmentV2"
                },
                "examples": {
                  "default": {
                    "value": {
                      "id": "2163003",
                      "dataObjectId": "6141d5853bf5da0001e891ee",
                      "ownerId": "2",
                      "date": "2026-08-03T07:14:38.9506031+00:00",
                      "duration": 60,
                      "title": "Talk about insurance",
                      "notes": "They want to buy",
                      "activityId": "2163003",
                      "allDay": false,
                      "done": false,
                      "recurringDefinition": {
                        "id": "304",
                        "periodicity": "hours",
                        "interval": 5,
                        "repeatOn": [
                          "monday",
                          "friday"
                        ],
                        "count": 5
                      },
                      "activityTemplateId": "4",
                      "remindBeforeInSeconds": 3600,
                      "auto": false,
                      "createdById": "1234",
                      "dataObjectTypeId": 1,
                      "access": "full"
                    }
                  }
                }
              },
[...]
